<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원탈퇴 | 북적서울</title>
        <link
            rel="shortcut icon"
            href="../../static/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../../static/css/main/global-settings.css"
        />
        <link rel="stylesheet" href="../../static/css/main/header.css" />
        <link
            rel="stylesheet"
            href="../../static/css/organization/leave-organization.css"
        />
    </head>
    <body>
        <div id="wrap" class="show-top-header">
            <!-- 헤더 자리 -->
            <div class="top-header background on">
                <div class="inner">
                    <header>
                        <h1>
                            <a href="" class="logo">
                                <img
                                    src="../../static/images/common/Logo.png"
                                    alt="북적서울"
                                    class="bookjeog-logo"
                                    style="scale: 1.5"
                                />
                            </a>
                        </h1>
                        <nav>
                            <ul class="gnb">
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-report"
                                        class="book-report"
                                        >독후감</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="donation"
                                        class="donation"
                                        >기부</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="search"
                                        class="search"
                                        >검색</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-shelf"
                                        class="book-shelf"
                                        >내서재</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="manage"
                                        class="manage"
                                        >관리</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="discussion"
                                        class="discussion"
                                        >북적북적</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="util-wrap">
                            <!-- data-count가 알람 개수 -->
                            <a
                                href=""
                                class="alarm-button"
                                data-content-type="alarmCenter"
                                data-count="10"
                            >
                                <span class="mds-icon-alarm">
                                    <span class="ir">알림센터</span>
                                </span>
                            </a>
                            <ul class="util">
                                <li class="sign sign-in">
                                    <a href="" data-content-type="login"
                                        >로그아웃</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </header>
                </div>
            </div>
            <!-- // 헤더 자리 -->
            <section class="content">
                <div class="bookjeog-inner">
                    <div id="backComponent" class="back-component">
                        <div class="back-wrap line">
                            <div>
                                <div class="back">
                                    <button
                                        type="button"
                                        class="close-button"
                                    ></button>
                                    <h2>단체회원 탈퇴</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-content">
                        <h2 class="leave-title">기부글 현황</h2>
                        <div class="my-data">
                            <p class="title">서울희망기부단</p>
                            <ul class="list">
                                <li>
                                    <strong>내가 등록한 기부글</strong>
                                    <span>3개</span>
                                </li>
                                <li>
                                    <strong>내가 등록한 기부인증글</strong>
                                    <span>2개</span>
                                </li>
                            </ul>
                        </div>
                        <hr class="line" />
                        <p class="red">탈퇴 회원 유의 사항</p>
                        <ul class="warn-text">
                            <li>
                                탈퇴를 하실 경우, 어떤 경우에도 기존 기부에 대한
                                복구는 불가능하며, 로그인이 필요한 모든 서비스를
                                이용하실 수 없습니다.
                            </li>
                            <li>
                                탈퇴 시에 회원님이 작성하신 도서 기부글,
                                기부인증을 포함한 모든 게시물이 자동 삭제됩니다.
                            </li>
                            <li>
                                이외에 문의사항이 있을 시에 관리자측에 직접 문의
                                바랍니다.
                            </li>
                        </ul>
                        <div>
                            <input
                                type="checkbox"
                                id="check1"
                                class="input-check"
                            />
                            <label for="check1">
                                <span
                                    >회원 탈퇴에 관한 모든 내용을 숙지하였고,
                                    회원 탈퇴를 신청합니다.</span
                                >
                            </label>
                        </div>
                        <div class="button-box">
                            <button type="button" class="gray">
                                나중에 하기
                            </button>
                            <button type="button" class="yellow">
                                계속 진행하기
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
