<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!---->
    <typeAliases>
        <typeAlias type="com.app.bookJeog.domain.vo.BookInfoVO" alias="bookInfoVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.TempSelectedBookVO" alias="tempSelectedBookVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.BookPostVO" alias="bookPostVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.DiscussionVO" alias="discussionVO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.BookPostDTO" alias="bookPostDTO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.PersonalMemberVO" alias="personalMemberVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.MonthlyBookPostVO" alias="monthlyBookPostVO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.MonthlyBookPostDTO" alias="monthlyBookPostDTO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.MemberInquiryVO" alias="memberInquiryVO"/>
    </typeAliases>
<!---->
    <typeHandlers>
        <typeHandler handler="com.app.bookJeog.mybatis.MemberTypeHandler"/>
    </typeHandlers>
</configuration>