<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.bookJeog.domain.vo.BookInfoVO" alias="bookInfoVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.TempSelectedBookVO" alias="tempSelectedBookVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.BookPostVO" alias="bookPostVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.DiscussionVO" alias="discussionVO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.BookPostDTO" alias="bookPostDTO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.BookPostMemberDTO" alias="bookPostMemberDTO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.PersonalMemberVO" alias="personalMemberVO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.SponsorMemberProfileDTO" alias="sponsorMemberProfileDTO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.DiscussionPostDTO" alias="discussionPostDTO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.ReceiverPostDTO" alias="receiverPostDTO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.BookPostFileDTO" alias="bookPostFileDTO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.FileBookPostDTO" alias="fileBookPostDTO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.MonthlyBookPostVO" alias="monthlyBookPostVO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.MonthlyBookPostDTO" alias="monthlyBookPostDTO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.MemberInquiryVO" alias="memberInquiryVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.SponsorInquiryVO" alias="sponsorInquiryVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.BookPostReportVO" alias="bookPostReportVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.SponsorMemberVO" alias="sponsorMemberVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.CommentReportVO" alias="commentReportVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.CommentVO" alias="commentVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.PostVO" alias="postVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.BookDonateVO" alias="bookDonateVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.ReceiverVO" alias="receiverVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.AdminVO" alias="adminVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.SponsorMemberVO" alias="SponsorMemberVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.AdminVO" alias="AdminVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.MemberHistoryVO" alias="memberHistoryVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.BookPostVO" alias="bookPostVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.SelectedBookVO" alias="selectedBookVO"/>
        <typeAlias type="com.app.bookJeog.domain.vo.DonateCertVO" alias="donateCertVO"/>
<!--    <typeAlias type="com.app.bookJeog.domain.vo.CommentMentionVO" alias="commentMentionVO"/>-->
        <typeAlias type="com.app.bookJeog.domain.vo.BookPostLikeVO" alias="bookPostLikeVO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.PersonalMemberPostMemberProfileDTO" alias="personalMemberPostMemberProfileDTO"/>
        <typeAlias type="com.app.bookJeog.domain.dto.MyAlarmDTO" alias="myAlarmDTO"/>

    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.app.bookJeog.mybatis.MemberTypeHandler"/>
        <typeHandler handler="com.app.bookJeog.mybatis.BookReceivedStatusHandler"/>
        <typeHandler handler="com.app.bookJeog.mybatis.ReceiverStatusHandler"/>
        <typeHandler handler="com.app.bookJeog.mybatis.AdminMemberStatusHandler"/>
    </typeHandlers>
</configuration>