<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>북적서울 | 알림센터</title>
    <link rel="stylesheet" href="/static/css/main/alert.css">
    <link rel="stylesheet" href="/static/css/main/feed_common.css">
    <link rel="shortcut icon" href="/static/images/admin/favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="wrap" class="web-mount pcv-mount"><!----> <!----> <!---->
        <section class="content">
            <div class="bg-sub-inner">
                <div id="backComponent" data-article-type="back-component" class="back-component border-hidden">
                    <div class="back line"><button type="button" data-content-type="back-button" class="close-button"><i
                                class="mds-icon--arrow-left"></i></button>
                        <h2 class="">알림센터</h2> <!----> <!---->
                    </div>
                </div>
                <div class="sub-content header column alarm-center-container">
                    <div class="alarm-list-container">
                        <div class="alarm-content">
                            <ul>
                                <li><a
                                        href="">
                                        <div class="img"><img
                                                src="https://d3uz7kn1zskbbz.cloudfront.net/profile/ntruss/49b7b494d18c580785ad15efa1c7eb46.jpg">
                                        </div>
                                        <div class="context"><!---->
                                            <p class="txt">[포스트 알림]<br>팔로우 알림, 게시한 글들의 댓글 알림, 토론 대댓글 알림</p> <time class="time">2025.04.05</time>
                                        </div>
                                    </a></li>
                                <li><a
                                        href="">
                                        <div class="img"><img
                                                src="https://d3uz7kn1zskbbz.cloudfront.net/profile/ntruss/49b7b494d18c580785ad15efa1c7eb46.jpg">
                                        </div>
                                        <div class="context"><!---->
                                            <p class="txt">[내서재 알림]<br>LeJulesVerne님이 회원님을 팔로우했습니다
                                            </p> <time class="time">2025.04.04</time>
                                        </div>
                                    </a></li>
                                <li><a
                                        href="">
                                        <div class="img"><img
                                                src="https://d3uz7kn1zskbbz.cloudfront.net/profile/b58692581f8f443bafe1d1e7934d74d7.jpeg">
                                        </div>
                                        <div class="context"><!---->
                                            <p class="txt">[내서재 알림]<br>풀떼기님이 회원님을 팔로우했습니다</p> <time
                                                class="time">2025.04.03</time>
                                        </div>
                                    </a></li>
                                <li><a
                                        href="">
                                        <div class="img"><img
                                                src="https://d3uz7kn1zskbbz.cloudfront.net/profile/ntruss/9bfc374185230bdb5420a9bce38016c4.jpg">
                                        </div>
                                        <div class="context"><!---->
                                            <p class="txt">[포스트 알림]<br>회원님이 팔로우한 짖지않는개님이 포스트를 발행했어요.
                                                지금 바로 확인해 보세요.</p> <time class="time">2025.04.03</time>
                                        </div>
                                    </a></li>
                                <li><a href="">
                                        <div class="img"><img
                                                src="https://images.millie.co.kr/common/images/logo_for_profile.png">
                                        </div>
                                        <div class="context"><!---->
                                            <p class="txt">[포스트 알림]<br>회원님이 팔로우한 짖지않는개님 외1명의 회원이 포스트를
                                                발행했어요. 지금 바로 피드에서 확인해 보세요.</p> <time class="time">2025.04.02</time>
                                        </div>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!----> <!---->
            </div>
        </section> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
    </div>
</body>

</html>