<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>북적서울 | 이벤트 예시</title>
    <link rel="stylesheet" href="/css/main/feed_common.css">
    <link rel="stylesheet" href="/css/main/event_content.css">
    <link rel="shortcut icon" href="/images/admin/favicon.ico"
          type="image/x-icon">
</head>

<body>
<div id="__next">
    <div>
        <div
                class="page-wrapper not-dark">
            <div class="header-wrapper">
                <div
                        class="header-inner">
                    <h2 class="header-span">
                        이달의 독후감 4월</h2>
                </div>
            </div>
            <section class="main">
                <div
                        class="main-inner">
                    <main
                            class="main-content">
                        <img src="/images/main/event_example.png"/>
                    </main>
                </div>
            </section>
            <section class="on">
                <div data-section-name="이벤트"
                     class="info-wrapper">
                    <article><span class="caption">이달의 밀리로드
                                크리에이터</span>
                        <h3><span>이달의 독후감이란?</span></h3>
                        <div class="info-desc">
                            <p class="only">회원 여러분이 작성해주신 독후감 중 가장 많은 관심을 받은 20개의 독후감을 선정합니다. 투표를 거쳐 가장 많은 표를 받은 독후감을 작성하신 회원님의 성함으로 서울시에서 추천 도서를 기부하게 됩니다.</p>
                        </div>
                    </article>
                </div>
                <div
                        class="gift-wrapper">
                    <article
                            class="gift-inner">
                        <span class="caption">이달의 밀크 혜택</span>
                        <h3><span>창작 지원금</span><span>총 500만
                                    원</span></h3>
                        <p>신규 작품 에피소드 3화 이상 연재하고</p>
                        <p>밀어주리 5개 이상 받으면 참여 완료</p>
                        <ul class="card">
                            <li>
                                <div class="introduction">
                                    <strong>각 100만 원</strong>
                                    <div>
                                        <p>이달의 밀크 필수 활동 진행 시 창작
                                            지원금을 드려요. 상세내용은 유의사항을
                                            확인해주세요.</p><span>5명
                                                선정</span>
                                    </div>
                                </div>
                                <div class="image"><img
                                        src="https://d2j6uvfek9vas1.cloudfront.net/event/image/676258b48efb9.jpg"
                                        alt="각 100만 원" width="311"
                                        height="154"></div>
                            </li>
                        </ul>
                        <hr>
                        <div class="notification">
                            <dl>
                                <dt>참여 대상</dt>
                                <dd>만 14세 이상 회원 (단체 회원 제외)</dd>
                            </dl>
                            <dl>
                                <dt>참여 기간</dt>
                                <dd>2025.4.1(화)~2025.4.30(수)</dd>
                            </dl>
                            <dl>
                                <dt>당첨자 발표</dt>
                                <dd>2025.05.16(금) 18시 이내</dd>
                            </dl>
                            <dl>
                                <dt>경품 발송</dt>
                                <dd>2025.07.31(목)이내 창작 지원금 지급</dd>
                            </dl>
                        </div>
                    </article>
                </div>
                <div
                        class="process-wrapper">
                    <article
                            class="process-inner">
                        <h3>이 달의 독후감 후보</h3>
                        <ul class="book-post-wrapper">
                            <li class="book-post" th:each="post : ${posts}">
                                <a th:href="|/post/bookpost/${post.bookPostId}|">
                                <input type="radio" name="vote" th:value="${post.bookPostId}">
                                <span th:text="${post.bookPostTitle}"></span>
                                </a>
                            </li>
                        </ul>
                        <button class="multiplebutton1 tertiary vote-button">투표하기</button>
                    </article>
                </div>
                <div data-section-name="이벤트"
                     class="info-wrapper">
                    <article>
                        <h3><span>넉넉한 밀리, 분기별 지원도!</span></h3>
                        <div class="info-desc">
                            <p class="only">이달의 밀크 당선작 중
                                분기별로 '밀어주리+댓글'을 가장 많이 받은
                                1명의 작가님께 100만 원을 지원해요.</p>
                        </div>
                    </article>
                </div>
                <div
                        class="multiplebutton-wrapper1">
                    <article
                            class="multiplebutton-inner1">
                        <h3>지난 수상작 공개</h3>
                        <div class="con-img"><img
                                src="https://d2j6uvfek9vas1.cloudfront.net/event/image/67e2185712373.jpg"
                                alt="지난 수상작 공개 2월 밀크 보러가기 이미지"
                                width="375" height="375"></div>
                        <p>이 작품들은 추가 창작 지원금 100만원의 후보가 됩니다.</p>
                        <div class="con-btn"><button type="button"
                                                     class="multiplebutton1 tertiary"><span>2월
                                        밀크
                                        보러가기</span></button></div>
                    </article>
                </div>

                <div
                        class="multiplebutton-wrapper2">
                    <button type="button"
                            class="multiplebutton2 floating primary"><span>지금
                                글 쓰러
                                가기</span></button>
                </div>

            </section>

        </div>
    </div>
    <div id="portal"></div>
</div>
</body>
<script src="/js/main/event_content.js"></script>
</html>