<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>북적서울 | 이벤트 예시</title>
    <link rel="stylesheet" href="/static/css/main/feed_common.css">
    <link rel="stylesheet" href="/static/css/main/event_content.css">
    <link rel="shortcut icon" href="/static/images/admin/favicon.ico"
        type="image/x-icon">
</head>

<body>
    <div id="__next">
        <div>
            <div
                class="page-wrapper not-dark">
                <div class="header-wrapper">
                    <div
                        class="header-inner">
                        <h2 class="header-span">
                            이달의 밀크 4월</h2>
                    </div>
                </div>
                <section class="main">
                    <div
                        class="main-inner">
                        <main
                            class="main-content">
                            <img src="https://d2j6uvfek9vas1.cloudfront.net/event/image/67ea54d162982.png"
                                alt="이벤트 Key Visual 이미지" width="500"
                                height="500" loading="eager">
                        </main>
                    </div>
                </section>
                <section class="on">
                    <div data-section-name="이벤트"
                        class="info-wrapper">
                        <article><span class="caption">이달의 밀리로드
                                크리에이터</span>
                            <h3><span>이달의 밀크란?</span></h3>
                            <div class="info-desc">
                                <p class="only">밀리로드 크리에이터 활동을 응원하는 최대 200만 원 규모의 혜택! 월별, 분기별 우수 작품에 100만 원을 드려요.</p>
                            </div>
                        </article>
                    </div>
                    <div
                        class="gift-wrapper">
                        <article
                            class="gift-inner">
                            <span class="caption">이달의 밀크 혜택</span>
                            <h3><span>창작 지원금</span><span>총 500만
                                    원</span></h3>
                            <p>신규 작품 에피소드 3화 이상 연재하고</p>
                            <p>밀어주리 5개 이상 받으면 참여 완료</p>
                            <ul class="card">
                                <li>
                                    <div class="introduction">
                                        <strong>각 100만 원</strong>
                                        <div>
                                            <p>이달의 밀크 필수 활동 진행 시 창작
                                                지원금을 드려요. 상세내용은 유의사항을
                                                확인해주세요.</p><span>5명
                                                선정</span>
                                        </div>
                                    </div>
                                    <div class="image"><img
                                            src="https://d2j6uvfek9vas1.cloudfront.net/event/image/676258b48efb9.jpg"
                                            alt="각 100만 원" width="311"
                                            height="154"></div>
                                </li>
                            </ul>
                            <hr>
                            <div class="notification">
                                <dl>
                                    <dt>참여 대상</dt>
                                    <dd>만 14세 이상 회원 (기업 회원 제외)</dd>
                                </dl>
                                <dl>
                                    <dt>참여 기간</dt>
                                    <dd>2025.4.1(화)~2025.4.30(수)</dd>
                                </dl>
                                <dl>
                                    <dt>당첨자 발표</dt>
                                    <dd>2025.05.16(금) 18시 이내</dd>
                                </dl>
                                <dl>
                                    <dt>경품 발송</dt>
                                    <dd>2025.07.31(목)이내 창작 지원금 지급</dd>
                                </dl>
                            </div>
                        </article>
                    </div>
                    <div
                        class="process-wrapper">
                        <article
                            class="process-inner">
                            <h3>참여 방법</h3>
                            <ul>
                                <li class="flex"><span
                                        class="caption">Step
                                        1</span><img
                                        src="https://d2j6uvfek9vas1.cloudfront.net/event/image/67e2182e4a0fe.png"
                                        alt="Step 1 이미지" width="303"
                                        height="203">
                                    <p class="method">'지금 글 쓰러 가기' 버튼
                                        클릭</p>
                                    <p class="desc">먼저, 쓰고 싶은 작품의
                                        기획안을 작성해 주세요.</p>
                                </li>
                                <li class="flex"><span
                                        class="caption">Step
                                        2</span><img
                                        src="https://d2j6uvfek9vas1.cloudfront.net/event/image/676259ded17e3.png"
                                        alt="Step 2 이미지" width="303"
                                        height="203">
                                    <p class="method">[새 에피소드 쓰기] 클릭
                                    </p>
                                    <p class="desc">매월 1일부터 말일까지 신규
                                        작품을 3화 이상 연재하고
                                        밀어주리 5개 이상 받은 분을 대상으로 '이달의
                                        밀크'가 선정됩니다.</p>
                                </li>
                            </ul>
                        </article>
                    </div>
                    <div data-section-name="이벤트"
                        class="info-wrapper">
                        <article>
                            <h3><span>넉넉한 밀리, 분기별 지원도!</span></h3>
                            <div class="info-desc">
                                <p class="only">이달의 밀크 당선작 중
                                    분기별로 '밀어주리+댓글'을 가장 많이 받은
                                    1명의 작가님께 100만 원을 지원해요.</p>
                            </div>
                        </article>
                    </div>
                    <div
                        class="multiplebutton-wrapper1">
                        <article
                            class="multiplebutton-inner1">
                            <h3>지난 수상작 공개</h3>
                            <div class="con-img"><img
                                    src="https://d2j6uvfek9vas1.cloudfront.net/event/image/67e2185712373.jpg"
                                    alt="지난 수상작 공개 2월 밀크 보러가기 이미지"
                                    width="375" height="375"></div>
                            <p>이 작품들은 추가 창작 지원금 100만원의 후보가 됩니다.</p>
                            <div class="con-btn"><button type="button"
                                    class="multiplebutton1 tertiary"><span>2월
                                        밀크
                                        보러가기</span></button></div>
                        </article>
                    </div>

                    <div
                        class="multiplebutton-wrapper2">
                        <button type="button"
                            class="multiplebutton2 floating primary"><span>지금
                                글 쓰러
                                가기</span></button>
                    </div>
                    <div
                        class="notice-wrapper">
                        <article
                            class="notice-inner">
                            <h3>유의사항</h3>
                            <ul>
                                <li>“이달의 밀크”는 밀리의 서재 내외부 전문가로 구성된
                                    선정위원회가 선정합니다.
                                </li>
                                <li>매월 총 5명의 밀리로드 크리에이터들께 창작 지원금을 드리며,
                                    해당 월에 중복 수상은 불가합니다.
                                </li>
                                <li>해당 월에 신규 작품 3개 이상 발행하고 해당 작품에 밀어주리
                                    5개 이상 받으면 이벤트에 참여할 수 있습니다.
                                </li>
                                <li>전월에 수상한 크리에이터도 신규 작품으로 응모한다면 선정
                                    대상에 포함됩니다.
                                </li>
                                <li>분기 우수작품은 해당 분기 동안 등록된 작품 기준으로
                                    밀어주리, 댓글 수가 가장 많은 작품을 선정합니다.
                                </li>
                                <li>분기 우수작품 선정 기간 : 1분기 (1월~3월), 2분기
                                    (4월~6월), 3분기 (7월~9월), 4분기
                                    (10월~12월)
                                </li>
                                <li>분기 우수작품 선정 및 공지는 25년 4월, 7월, 10월,
                                    26년 1월에 공지됩니다. (공지 일정은 연기될 수
                                    있습니다.)
                                </li>
                                <li>내부 검토에 따라 "이달의 밀크", "분기 우수작품"은
                                    선정되지 않을 수도 있습니다.
                                </li>
                                <li>선정된 작품의 저작권(저작인격권과 저작재산권)은 응모자에게
                                    있습니다.
                                </li>
                                <li>출판된 적이 있거나, 출판 계약 이력이 있는 경우 선정
                                    대상에서 제외됩니다. 수상 이후 발견 시 수상이 취소되며 지급
                                    받은 창작 지원금은 반환해야
                                    합니다.
                                </li>
                                <li>타인의 저작권을 침해할 경우 창작 지원금이 지급되지 않으며,
                                    작품은 삭제 처리됩니다.
                                </li>
                                <li>기타 부정한 방법으로 응모할 시 선정 대상에서 제외됩니다.
                                </li>
                                <li>해당 이벤트는 만 14세 이상, 밀리의 서재 회원만 참여할 수
                                    있습니다. (기업 회원 제외)
                                </li>
                                <li>선정된 분들께는 문자를 통해 개별 안내드리며, 다음 달
                                    3주차에 밀리로드 포스트로 최종 수상작이 공개됩니다.
                                </li>
                                <li>개별 안내 시 개인 정보에 휴대폰 번호가 없는 경우, 선정
                                    대상자에서 제외되므로 <b>[관리 &gt; 내 정보 관리
                                        &gt; 개인 정보 수정] 을 통해
                                        휴대폰 번호를 미리 등록 또는 재확인해 주세요.</b>
                                </li>
                                <li>정확하지 않은 휴대폰 번호로 당첨 안내를 받지 못했을 경우,
                                    재발송 및 추가 발송이 불가합니다.
                                </li>
                                <li>"이달의 밀크"에 선정될 경우, 연재 계약을 진행하며 계약
                                    조건에 기재된 필수 활동 내용에 따라 에피소드를 추가 발행해야
                                    합니다.
                                </li>
                                <li>창작 지원금은 연재 계약서 작성 후, 계약 절차에 따라
                                    제세공과금 제외하여 지급됩니다.
                                </li>
                                <li>밀리로드에 공개 발행한 작품 내용은 추후 마케팅 목적으로
                                    활용될 수 있습니다.
                                </li>
                                <li>본 이벤트는 내부 사정에 따라 별도 공지 없이 사전에 변경 및
                                    종료될 수 있습니다.
                                </li>
                                <li>이벤트 관련 문의는 밀리의 서재 [관리 &gt; 고객센터
                                    &gt; 1:1문의]로 접수 부탁드립니다.</li>
                            </ul>
                        </article>
                    </div>
                </section>
                <section class="comment-wrapper"
                    style="padding-bottom: 80px;">
                    <div>
                        <div
                            class="comment-wrapper">
                            <div
                                class="comment-inner">
                                <div
                                    class="comment-write-wrapper">
                                    <h3><span>여러분의 작품을 댓글에
                                            홍보해주세요!</span></h3>
                                    <div
                                        class="textarea-wrapper">
                                        <label
                                            class="textarea-label mds-textarea mds-textarea--default null undefined"><span
                                                class="textarea-label-text">댓글
                                            </span><textarea
                                                id="commentInput"
                                                name="commentInput"
                                                placeholder="예) &quot;웃기는사람들&quot; 작가 혈키입니다. 많관부~"
                                                maxlength="1000"
                                                class="textarea-element"></textarea></label>
                                        <div
                                            class="option-area">
                                        </div>
                                    </div><button type="button"
                                        class="apply-button"
                                        style="color: rgb(255, 255, 255);"><span>등록하기</span></button>
                                    <p class="notice">통신예절에 어긋나는 글이나
                                        상업적인 글, 타 사이트에 관련된 글 또는 도용한 글은
                                        관리자에 의해 사전 통보 없이 삭제될
                                        수 있으며, 이벤트 참여에 제한을 받을 수
                                        있습니다.또한, 댓글에 민감한 개인정보를 작성할 경우
                                        회원님의 정보 보호를 위해 삭제됩니다.</p>
                                </div>
                                <div
                                    class="comment-list-wrapper">
                                    <h3>댓글 <span>25</span></h3>
                                    <ul>
                                        <li class="comment"
                                            data-id="501605">
                                            <div
                                                class="content-wrapper">
                                                <span class="user-img"
                                                    style="background-image: url(&quot;https://d3uz7kn1zskbbz.cloudfront.net/profile/6152766785e13.png&quot;);"></span>
                                                <div
                                                    class="content-inner">
                                                    <div
                                                        class="user-info">
                                                        <span>N쌤</span>
                                                    </div>
                                                    <div
                                                        class="content">
                                                        <p>[1%사용자 GPT로
                                                            CEO 되기]
                                                            작가N쌤 입니다.
                                                            딱딱한 자기계발서에
                                                            웹소설형태를
                                                            접목하여 재미와
                                                            GPT활용 지식을
                                                            동시에 잡을수있는
                                                            술술 읽히는 신개념
                                                            기술
                                                            습득의 글을 쓰고
                                                            있어요!

                                                            https://millie.page.link/EoMZY

                                                            많은 관심
                                                            부탁드립니다</p>
                                                        <span
                                                            class="date-created">2025-04-11
                                                            15:31:39</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="more-menu">
                                                    <button
                                                        type="button"
                                                        class="more-button"
                                                        aria-label="메뉴 더보기"><svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            fill="none"
                                                            viewBox="0 0 24 25"
                                                            class="mds-icon"
                                                            color="var(--text-01)">
                                                            <path
                                                                d="M13 6.245a1 1 0 1 1-2 0 1 1 0 0 1 2 0M13 12.245a1 1 0 1 1-2 0 1 1 0 0 1 2 0M12 19.245a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
                                                                fill="currentColor">
                                                            </path>
                                                        </svg></button>
                                                    <ul
                                                        class="more-menu-list">
                                                        <li><button
                                                                type="button"
                                                                aria-label="reply">답글달기</button>
                                                        </li>
                                                        <li><button
                                                                type="button"
                                                                aria-label="report">신고하기</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div
                                                class="reply-write-wrapper reply-write">
                                                <div><span
                                                        class="user-img"
                                                        style="background-image: url(&quot;https://d3uz7kn1zskbbz.cloudfront.net/profile/05ce9d4466834b948dc0c43e49f001a5.jpeg&quot;);"></span>
                                                    <div>
                                                        <div
                                                            class="reply-wrapper">
                                                            <label
                                                                class="reply-inner mds-textarea mds-textarea--default null undefined"><span
                                                                    class="styled__MdsTextareaLabelText-sc-4afbbe48-2 fLkjRu">댓글
                                                                </span><textarea
                                                                    id="501605"
                                                                    name="501605"
                                                                    placeholder="내용 입력"
                                                                    maxlength="1000"
                                                                    class="styled__MdsTextareaElement-sc-4afbbe48-3 jXLExG"></textarea></label>
                                                            <div
                                                                class="styled__MdsOptionArea-sc-4afbbe48-4 fhQnAG">
                                                            </div>
                                                        </div>
                                                    </div><button
                                                        type="button"
                                                        class="reply-apply-button"
                                                        style="flex-shrink: 0; height: auto; width: 64px; padding: 0px;"><span>등록</span></button>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                    <div style="min-height: 20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="portal"></div>
                    </div>
                </section>
            </div>
        </div>
        <div id="portal"></div>
    </div>
</body>

</html>