<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>북적북적</title>
        <link rel="stylesheet" href="/css/main/header.css" />
        <link rel="stylesheet" href="/css/main/bjs-main-category-popup.css" />
        <link rel="stylesheet" href="/css/main/global-settings.css">
        <link rel="stylesheet" href="/css/main/bjs-main.css">
    </head>
    </head>
    <body>
    <body>
        <div>
            <!-- 헤더 시작 -->
            <div th:replace="~{main/header :: header-sc}"></div>
            <!-- 헤더끝 -->
            <section class="content">
                <div class="bjs-home">
                    <!-- 햄버거 탭 -->
                    <div class="home-tab">
                        <div class="home-tab-inner">
                            <a type="button" class="hamburger">
                                <span>즐겨찾기</span>
                            </a>
                        </div>
                    </div>
                    <!-- 컨텐츠 스위퍼 진입 -->
                    <div class="main-swiper">
                        <div class="bjs-home-inner">
                        <!-- 공지 배너 -->
                        <section class="bjs-visual">
                            <div class="hero-banner">
                                <div class="hero-swiper">
                                    <ul class="hero-swiper-wrapper">
                                        <li class="hero-swiper-slide">
                                            <a href="" class="banner-wrapper">
                                                <div class="banner-image">
                                                    <div>
                                                        <img src="/images/main/배너1.png" style="background-color: aqua;">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="hero-swiper-slide">
                                            <a href="" class="banner-wrapper">
                                                <div class="banner-image">
                                                    <div>
                                                        <img src="/images/main/배너2.png" style="background-color: yellow;">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="hero-swiper-slide">
                                            <a href="" class="banner-wrapper">
                                                <div class="banner-image">
                                                    <div>
                                                        <img src="/images/main/배너3.png" style="background-color: red;">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="prev-button">
                                    <svg data-v-260ba901="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path data-v-260ba901="" fill-rule="evenodd" clip-rule="evenodd" d="M15.7071 19.7071C15.3166 20.0976 14.6834 20.0976 14.2929 19.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L9.41421 12L15.7071 18.2929C16.0976 18.6834 16.0976 19.3166 15.7071 19.7071Z" fill="#6F6F6F"></path></svg>
                                </button>
                                <button class="next-button">
                                    <svg data-v-260ba901="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path data-v-260ba901="" fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 19.7071C8.68342 20.0976 9.31658 20.0976 9.70711 19.7071L16.7071 12.7071C17.0976 12.3166 17.0976 11.6834 16.7071 11.2929L9.70711 4.29289C9.31658 3.90237 8.68342 3.90237 8.29289 4.29289C7.90237 4.68342 7.90237 5.31658 8.29289 5.70711L14.5858 12L8.29289 18.2929C7.90237 18.6834 7.90237 19.3166 8.29289 19.7071Z" fill="#6F6F6F"></path></svg>
                                </button>
                                <div class="indicator">
                                    <button class="pagination-button-wrapper">
                                        <em class="current-page">1</em>
                                        <span class="separation">/</span>
                                        <span class="total-page"></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <!-- 메인 컨텐츠들 -->
                        <div class="section-divide-area">
                            <!-- 서울도서관 최다대출 도서 -->
                            <section class="home-content">
                                <div class="home-inner">
                                    <h3 class="section-title">
                                        <a  href="" class="" style="cursor: default">추천도서 라인</a>
                                    </h3>
                                    <p class="section-sub-title"></p>
                                    <div class="bjs-ai-container">
                                        <div class="bjs-ai-card">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper" id="slider">
                                                    <!-- 카드 목록 시작 *5개이상* -->
                                                    <div th:each="book : ${topBookDTOS}" class="book-card" style="margin-right: 12px;">
                                                        <div class="content-data">
                                                            <!-- 카드 제목 -->
                                                            <h3 class="title" >
                                                                <span th:text="${book.topBookVO.getTitle()}"></span>
                                                                <span th:text="${book.topBookVO.getAuthor()}"></span>
                                                            </h3>
                                                        </div>
                                                        <a th:href="|/book/detail/${book.topBookVO.getIsbn()}|">
                                                            <!-- 이미지, 책 썸네일 -->
                                                            <div class="book-picture">
                                                                    <img th:src="${book.imageUrl}" alt="">
                                                            </div>
                                                        </a>
                                                        <button></button>
                                                    </div>

                                                    <!-- 카드 목록 끝 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- 밀리랭킹 -->
<!--                            <section class="home-content">-->
<!--                                <div class="home-inner">-->
<!--                                    <h3 class="title">-->
<!--                                        <a style="pointer-events: none">북적 랭킹</a>-->
<!--                                    </h3>-->
<!--                                    &lt;!&ndash; 카테고리 분류 버튼들 &ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="category-list">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <ul class="ranking-tab-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item active">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <span>종합</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>소설</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>경제/경영</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>자기계발</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>시/에세이</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>인문/교양</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>취미/실용</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>어린이/청소년</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>매거진</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li class="bjs-tab-item"><a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span>판타지/무협</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                    &lt;!&ndash; 랭킹 목록들 &ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="rank-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="swiper-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="swiper-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; 랭킹 목록들 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="swiper-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 1 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_1"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 2 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_2"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 3 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_3"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="swiper-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 4 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_4"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 5 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_5"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 6 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_6"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="swiper-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 7 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_7"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 8 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_8"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 9 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_9"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="swiper-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 10 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_10"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 11 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_11"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; 12 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="rank-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <strong class="rank-number num_12"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-picture">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <img src="/images/404/404.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="book-name-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="book-name-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="title">여긴 책제목</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <p class="author">여긴 글쓴이</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                </div>-->
<!--                            </section>-->
                            <!--관리자 추천-->
                            <section class="home-content">
                                <div class="home-inner">
                                    <h3 class="section-title">
                                        <a style="pointer-events: none" class="book-many-view">독후감 쓰기좋은책들</a>
                                    </h3>
                                    <p class="section-sub-title">예쁜 독후감이된 책들</p>
                                    <div class="book-shelf">
                                        <div class="sgst-book-container">
                                            <!--여기서부터 추천책-->
                                            <ul class="sgst-book-wrapper" style="padding-top: 16px" >
                                                <li class="sgst-item" th:each="adminbooks : ${suggestBooks}">
                                                    <div class="bookjeog-book">
                                                        <a class="book-image" th:href="|/book/detail/${adminbooks.isbn}|">
                                                            <div class="thumbnail">
                                                                <p class="badge"></p>
                                                                <div class="thumbnail-inner">
                                                                    <div class="book-picture" style="margin-bottom: 10px">
                                                                        <picture class="bookjeog-picture">
                                                                            <img th:src="${adminbooks.getImageUrl()}">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a class="book-data">
                                                            <div class="view-book-data">
                                                                <p class="v-b-title" th:text="${adminbooks.getTitle()}"></p>                                                                <p class="title"></p>
                                                                <p class="v-b-author" th:text="${adminbooks.getAuthor()}"></p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--인기도서 최다 조회-->
                            <section class="home-content overflow">
                                <div class="home-inner">
                                    <h3 class="section-title">
                                        <a class="gtm-yourbooks-2depth dark-img-after"
                                        >인기 도서 최다조회</a>
                                    </h3>
                                    <div class="feed-section book-shelf overflow not-dark">
                                        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                            <div class="swiper-wrapper"
                                                    style="
                                                    transition-duration: 0ms;
                                                    transform: translate3d(
                                                    0px,
                                                    0px,
                                                    0px
                                            );
                                        ">
                                                <div class="best-view-book swiper-slide"
                                                     style="margin-right: 8px" th:each="topViewBook : ${topViewBooks}">
                                                    <article
                                                            class="best-view-book-p"
                                                            style="
                                                    background-image: url('https://d3udu241ivsax2.cloudfront.net/common/images/common/background-gradient-07.jpg');
                                                    ">
                                                        <h4 class="v-b-title" th:text="${topViewBook.getTitle()}">
                                                            <br />
                                                        </h4>
                                                        <div class="v-b-body">
                                                            <div class="b-cover">
                                                                <a class="book-image">
                                                                    <div class="thumbnail">
                                                                    <!---->
                                                                    <!---->
                                                                    <div class="thumbnail-inner">
                                                                        <div class="book-picture imageLoaded"
                                                                             style=""
                                                                             data-observe="true"
                                                                        >
                                                                            <picture>
                                                                                <img th:src="${topViewBook.getImageUrl()}"
                                                                                        width="145"
                                                                                        style="
                                                                                    min-height: 0px;
                                                                                "
                                                                                /></picture>
                                                                        </div>
                                                                    </div>
                                                                    <!---->
                                                                </div></a
                                                                >
                                                                <!---->
                                                            </div>
                                                            <div class="sub-title">
                                                                <p class="sub-title-inner"
                                                                   th:text="${topViewBook.getAuthor()}"
                                                                >
                                                                    <br />
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="v-b-bottom"
                                                        ></div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrap"></div>
                                    </div>
                                </div>
                            </section>
                            <!--인기도서 최고 독후감-->
                            <section class="home-content">
                                <div class="home-inner">
                                    <h3 class="section-title">
                                        <a style="pointer-events: none" class="book-many-view">독후감 쓰기좋은책들</a>
                                    </h3>
                                    <p class="section-sub-title">예쁜 독후감이된 책들</p>
                                    <div class="book-shelf">
                                        <div class="sgst-book-container">
                                            <!--여기서부터 추천책-->
                                            <ul class="sgst-book-wrapper" style="padding-top: 16px" >
                                                <li class="sgst-item" th:each="topBookPost : ${topBookPostDTOS}">
                                                    <div class="bookjeog-book">
                                                        <a class="book-image" th:href="|/book/detail/${topBookPost.isbn}|">
                                                            <div class="thumbnail">
                                                                <p class="badge"></p>
                                                                <div class="thumbnail-inner">
                                                                    <div class="book-picture" style="margin-bottom: 10px">
                                                                        <picture class="bookjeog-picture">
                                                                            <img th:src="${topBookPost.getImageUrl()}">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a class="book-data">
                                                            <div class="view-book-data">
                                                                <p class="v-b-title" th:text="${topBookPost.getTitle()}"></p>                                                                <p class="title"></p>
                                                                <p class="v-b-author" th:text="${topBookPost.getAuthor()}"></p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--독후감 많이쓴 사람-->
                            <section class="home-content overflow bookstore-content">
                                <div class="home-inner bookstore-frm">
                                    <h3 class="section-title">
                                        <a class="profile-title"
                                        >동네책방 즐겨찾기</a
                                        >
                                    </h3>
                                    <p class="section-sub-title">
                                        책 냄새 가득한 나만의 공간을 찾아봐요
                                    </p>
                                    <div class="book-section">
                                        <div class="profile-container no-swiper swiper-container-initialized swiper-container-horizontal">
                                            <div class="profile-wrapper"
                                                 style="
                                                 transform: translate3d(0px,
                                                 0px,
                                                 0px
                                                 );
                                                 display: flex;
                                        ">
                                                <div class="profile-item"
                                                     style="margin-right: 16px" th:each="profile : ${bookPostMember}">
                                                    <a class="profile-travel" th:href="|/personal/mypage/${profile.memberId}|">
                                                        <div class="img-box">
                                                        <img src="https://cover.millie.co.kr/service/post/1154931/6807635320074.jpg?f=webp&amp;w=652&amp;q=80"
                                                        />
                                                    </div>
                                                        <div class="info-box">
                                                            <a class="profile-img"
                                                            ><span
                                                            ><img th:src="${profile.filePath}"
                                                            /></span
                                                            ></a>
                                                            <div class="info-blk">
                                                                <div class="inner-blk">
                                                                    <a class="info-tit"
                                                                     th:text="${profile.memberNickName}"></a
                                                                    >
                                                                    <a class="info-msg"
                                                                    ></a
                                                                    >
                                                                    <button type="button"
                                                                            class="follow-btn"
                                                                    >
                                                                <span style="color: #dee2e6">팔로우</span
                                                                >
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </body>
    <script src="/js/main/main.js"></script>
    <script src="/js/main/main-category-event.js"></script>
</html>
