<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>북적북적</title>
        <link rel="stylesheet" href="../../static/css/main/header.css" />
        <link rel="stylesheet" href="../../static/css/main/bjs-main-category-popup.css" />
        <link rel="stylesheet" href="/static/css/main/global-settings.css">
        <link rel="stylesheet" href="/static/css/main/bjs-main.css">
    </head>
    </head>
    <body>
    <body>
        <div>
            <!-- 헤더 시작 -->
            <div class="top-header background on">
                <div class="inner">
                    <header>
                        <h1>
                            <a href="" class="logo">
                                <img
                                    src="../../static/images/common/Logo.png"
                                    alt="북적서울"
                                    class="bookjeog-logo"
                                    style="scale: 1.5"
                                />
                            </a>
                        </h1>
                        <nav>
                            <ul class="gnb">
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-report"
                                        class="book-report"
                                        >독후감</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="donation"
                                        class="donation"
                                        >기부</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="search"
                                        class="search"
                                        >검색</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-shelf"
                                        class="book-shelf"
                                        >내서재</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="manage"
                                        class="manage"
                                        >관리</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="discussion"
                                        class="discussion"
                                        >북적북적</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        type="button"
                                        data-content-type="self-donation"
                                        class="self-donation"
                                        >개인기부</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="util-wrap">
                            <!-- data-count가 알람 개수 -->
                            <a
                                href=""
                                class="alarm-button"
                                data-content-type="alarmCenter"
                                data-count="10"
                            >
                                <span class="mds-icon-alarm">
                                    <span class="ir">알림센터</span>
                                </span>
                            </a>
                            <ul class="util">
                                <li class="sign sign-in">
                                    <a href="" data-content-type="login"
                                        >로그아웃</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </header>
                </div>
            </div>
            <!-- 헤더끝 -->
            <section class="content">
                <div class="bjs-home">
                    <!-- 햄버거 탭 -->
                    <div class="home-tab">
                        <div class="home-tab-inner">
                            <a type="button" class="hamburger">
                                <span>즐겨찾기</span>
                            </a>
                        </div>
                    </div>
                    <!-- 컨텐츠 스위퍼 진입 -->
                    <div class="main-swiper">
                        <div class="bjs-home-inner">
                        <!-- 공지 배너 -->
                        <section class="bjs-visual">
                            <div class="hero-banner">
                                <div class="hero-swiper">
                                    <ul class="hero-swiper-wrapper">
                                        <li class="hero-swiper-slide">
                                            <a href="" class="banner-wrapper">
                                                <div class="banner-image">
                                                    <div>
                                                        <img src="/static/images/main/배너1.png" style="background-color: aqua;">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="hero-swiper-slide">
                                            <a href="" class="banner-wrapper">
                                                <div class="banner-image">
                                                    <div>
                                                        <img src="/static/images/main/배너2.png" style="background-color: yellow;">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="hero-swiper-slide">
                                            <a href="" class="banner-wrapper">
                                                <div class="banner-image">
                                                    <div>
                                                        <img src="/static/images/main/배너3.png" style="background-color: red;">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="prev-button">
                                    <svg data-v-260ba901="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path data-v-260ba901="" fill-rule="evenodd" clip-rule="evenodd" d="M15.7071 19.7071C15.3166 20.0976 14.6834 20.0976 14.2929 19.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L9.41421 12L15.7071 18.2929C16.0976 18.6834 16.0976 19.3166 15.7071 19.7071Z" fill="#6F6F6F"></path></svg>
                                </button>
                                <button class="next-button">
                                    <svg data-v-260ba901="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path data-v-260ba901="" fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 19.7071C8.68342 20.0976 9.31658 20.0976 9.70711 19.7071L16.7071 12.7071C17.0976 12.3166 17.0976 11.6834 16.7071 11.2929L9.70711 4.29289C9.31658 3.90237 8.68342 3.90237 8.29289 4.29289C7.90237 4.68342 7.90237 5.31658 8.29289 5.70711L14.5858 12L8.29289 18.2929C7.90237 18.6834 7.90237 19.3166 8.29289 19.7071Z" fill="#6F6F6F"></path></svg>
                                </button>
                                <div class="indicator">
                                    <button class="pagination-button-wrapper">
                                        <em class="current-page">1</em>
                                        <span class="separation">/</span>
                                        <span class="total-page"></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <!-- 메인 컨텐츠들 -->
                        <div class="section-divide-area">
                            <!-- ai색션 -->
                            <section class="home-content">
                                <div class="home-inner">
                                    <h3 class="section-title">
                                        <a class="" style="cursor: none;">추천도서 라인</a>
                                    </h3>
                                    <p class="section-sub-title"></p>
                                    <div class="bjs-ai-container">
                                        <div class="bjs-ai-card">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper" id="slider">
                                                    <!-- 카드 목록 시작 *5개이상* -->
                                                    <div class="book-card" style="margin-right: 12px;">
                                                        <div class="content-data">
                                                            <!-- 카드 제목 -->
                                                            <h3 class="title">
                                                                <span>ai 가 뿌릴 카드1</span>
                                                                <span>메인 타이틀</span>
                                                            </h3>
                                                        </div>
                                                        <a href="">
                                                            <!-- 이미지, 책 썸네일 -->
                                                            <div class="book-picture">
                                                                    <img src="../../static/images/404/404.png" alt="">
                                                            </div>
                                                        </a>
                                                        <button></button>
                                                    </div>
                                                    <div class="book-card" style="margin-right: 12px;">
                                                        <div class="content-data">
                                                            <!-- 카드 제목 -->
                                                            <h3 class="title">
                                                                <span>ai 가 뿌릴 카드2</span>
                                                                <span>메인 타이틀</span>
                                                            </h3>
                                                        </div>
                                                        <a href="">
                                                            <!-- 이미지, 책 썸네일 -->
                                                            <div class="book-picture">
                                                                    <img src="../../static/images/404/404.png" alt="">
                                                            </div>
                                                        </a>
                                                        <button></button>
                                                    </div>
                                                    <div class="book-card" style="margin-right: 12px;">
                                                        <div class="content-data">
                                                            <!-- 카드 제목 -->
                                                            <h3 class="title">
                                                                <span>ai 가 뿌릴 카드3</span>
                                                                <span>메인 타이틀</span>
                                                            </h3>
                                                        </div>
                                                        <a href="">
                                                            <!-- 이미지, 책 썸네일 -->
                                                            <div class="book-picture">
                                                                    <img src="../../static/images/404/404.png" alt="">
                                                            </div>
                                                        </a>
                                                        <button></button>
                                                    </div>
                                                    <div class="book-card" style="margin-right: 12px;">
                                                        <div class="content-data">
                                                            <!-- 카드 제목 -->
                                                            <h3 class="title">
                                                                <span>ai 가 뿌릴 카드4</span>
                                                                <span>메인 타이틀</span>
                                                            </h3>
                                                        </div>
                                                        <a href="">
                                                            <!-- 이미지, 책 썸네일 -->
                                                            <div class="book-picture">
                                                                    <img src="../../static/images/404/404.png" alt="">
                                                            </div>
                                                        </a>
                                                        <button></button>
                                                    </div>
                                                    <div class="book-card" style="margin-right: 12px;">
                                                        <div class="content-data">
                                                            <!-- 카드 제목 -->
                                                            <h3 class="title">
                                                                <span>ai 가 뿌릴 카드5</span>
                                                                <span>메인 타이틀</span>
                                                            </h3>
                                                        </div>
                                                        <a href="">
                                                            <!-- 이미지, 책 썸네일 -->
                                                            <div class="book-picture">
                                                                    <img src="../../static/images/404/404.png" alt="">
                                                            </div>
                                                        </a>
                                                        <button></button>
                                                    </div>
                                                    <div class="book-card" style="margin-right: 12px;">
                                                        <div class="content-data">
                                                            <!-- 카드 제목 -->
                                                            <h3 class="title">
                                                                <span>ai 가 뿌릴 카드6</span>
                                                                <span>메인 타이틀</span>
                                                            </h3>
                                                        </div>
                                                        <a href="">
                                                            <!-- 이미지, 책 썸네일 -->
                                                            <div class="book-picture">
                                                                    <img src="../../static/images/404/404.png" alt="">
                                                            </div>
                                                        </a>
                                                        <button></button>
                                                    </div>
                                                    <!-- 카드 목록 끝 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- 밀리랭킹 -->
                            <section class="home-content">
                                <div class="home-inner">
                                    <h3 class="title">
                                        <a style="cursor: none;">북적 랭킹</a>
                                    </h3>
                                    <!-- 카테고리 분류 버튼들 -->
                                    <div class="category-list">
                                        <div>
                                            <ul class="ranking-tab-wrapper">
                                                <li class="bjs-tab-item active">
                                                    <a>
                                                        <span>종합</span>
                                                    </a>
                                                </li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>소설</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>경제/경영</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>자기계발</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>시/에세이</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>인문/교양</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>취미/실용</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>어린이/청소년</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>매거진</span>
                                                </a></li>
                                                <li class="bjs-tab-item"><a>
                                                    <span>판타지/무협</span>
                                                </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- 랭킹 목록들 -->
                                    <div class="content">
                                        <div class="rank-wrapper">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!-- 랭킹 목록들 -->
                                                    <div class="swiper-item">
                                                        <!-- 1 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_1"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 2 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_2"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 3 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_3"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-item">
                                                        <!-- 4 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_4"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 5 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_5"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 6 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_6"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-item">
                                                        <!-- 7 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_7"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 8 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_8"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 9 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_9"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-item">
                                                        <!-- 10 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_10"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 11 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_11"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- 12 -->
                                                        <a class="rank-content">
                                                            <strong class="rank-number num_12"></strong>
                                                            <div class="thumbnail">
                                                                <div class="book-picture">
                                                                    <picture>
                                                                        <img src="../../static/images/404/404.png" alt="">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                            <div class="book-name-container">
                                                                <div class="book-name-wrapper">
                                                                    <div>
                                                                        <p class="title">여긴 책제목</p>
                                                                        <p class="author">여긴 글쓴이</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        </div>
                    </div>
                    <!-- 햄버거 누르면 나오는 카테고리 -->
                    <div class="hamburger-popup-wrap" style="display: none;">
                        <div class="haburger-popup-inner">
                            <section class="favorites-wrap">
                                <section class="favorites">
                                    <h2>즐겨찾기</h2>
                                    <div class="favorites-item">
                                        <h3>카테고리</h3>
                                        <ul class="favorites-list">
                                            <li class="favorites-ddc">
                                                <a href="" class="my-favorites-link">
                                                    <span class="ddc-name">카테고리이름</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="null-text">
                                            자주찾는 카테고리를<br>즐겨찾기 해두면 편리합니다.
                                        </p>
                                        <button class="reset-btn">
                                            <i class="bjs-icon--refresh"></i>
                                            초기화
                                        </button>
                                    </div>
                                    <div class="favorites-item"></div>
                                </section>
                                <section class="favorites-tab-category">
                                    <div class="tab-item">
                                        <div class=tab-names>
                                            <ul class="menu">
                                                <li class="bjs-category-title">
                                                    <a href="">
                                                        <span>카테고리</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <dl>
                                            <div>
                                                <dt>분야별 카테고리</dt>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">철학</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="test" class="ir">
                                                    <label for="test" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">종교</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">사회과학</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">자연과학</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">기술과학</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">예술</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">언어</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">문학</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                                <dd class="category-item">
                                                    <a href="" class="ddc-wrap">
                                                        <span class="ddc">역사</span>
                                                    </a>
                                                    <input type="checkbox" name="" id="" class="ir">
                                                    <label for="" class="star"></label>
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="/static/js/main/main.js"></script>
    <script src="/static/js/main/main-category.js"></script>
</html>
