#wrap {
    height: 100%;
}

.view {
    font-size: 16px;
    min-width: 320px;
    background-color: var(--ui-background);
}

.view-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: var(--ui-background);
    opacity: .8;
    z-index: 10;
}

.view .vheader {
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    font-style: normal;
    letter-spacing: -.6px;
    height: 100%;
    border-color: transparent;
}

.view .vheader-inner {
    max-width: 100%;
    min-width: 320px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.view .vheader-inner,
.view .vheader .util {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.back-component {
    height: 48px;
    background: var(--ui-background);
}

.back-component.border-hidden {
    border: none !important;
}

.back-component .back {
    position: relative;
    max-width: var(--header-width);
    margin: 0 auto;
    height: 48px;
}

.back-component .back .close-button {
    position: absolute;
    left: 12px;
    top: 50%;
    width: 24px;
    height: 24px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 1000px) {
    .back-component .back .close-button {
        display: none;
    }
}

@media (min-width: 1000px) {

    .millieroad-button-list,
    .web-mount .back-component .close-button,
    .web-mount .back-component.pc-hidden {
        display: none;
    }
}

.back-component i[class^=mds-icon-] {
    font-size: 28px;
    font-weight: 700;
    line-height: 23px;
    color: var(--text-01);
}

.view .vheader-inner,
.view .vheader .util {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.view .vheader .util {
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 12px;
}

.view .vheader .util button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2px;
    font-size: 14px;
    color: var(--text-03);
    padding: 0 12px;
}

.view .vheader .util button i {
    display: block;
    font-size: 24px;
    color: var(--text-03);
}

[class*=" editor-icon--"]:before,
[class^=editor-icon--]:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.editor-icon--heart:before {
    content: "\e80a";
}

.editor-icon--heart_filled:before {
    content: "\e809";
}

.editor-icon--comment:before {
    content: "\e808";
}

.view .vheader .util button span {
    padding-top: 4px;
}

.editor-icon--share:before {
    content: "\e815";
}

.view .vheader .util .more-item {
    position: relative;
}

.editor-icon--more:before {
    content: "\e819";
}

.editor-icon--clip:before {
    margin-right : 5px;
    font-family: icon;
    content: "\e829";
}


.view .vheader .util .more-item .more-ul {
    position: absolute;
    top: 4px;
    right: 35px;
    width: 130px;
    text-align: left;
    font-size: 16px;
    color: var(--text-01);
    background: var(--ui-background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 0 4px rgba(0, 0, 0, .12), 2px 6px 12px rgba(0, 0, 0, .12);
    border-radius: 4px;
    overflow: hidden;
}

.view .vheader .util .more-item .more-ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 12px;
}

.view-expand {
    min-height: 100vh;
}

.view-expand.activity,
.view-expand.diary {
    min-height: 0;
}

.view .title {
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    font-style: normal;
    letter-spacing: -.6px;
}

.view .title-inner {
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
}

.view .title h1 {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 52px;
    color: var(--text-strong);
    word-break: break-word;
}

.flex-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-container.space-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.view .title .writer {
    font-weight: 400;
    font-size: .875em;
    line-height: 20px;
    color: var(--text-03);
    gap: 8px;
    -ms-flex-align: center;
    align-items: center;
}

.view .title .writer .user-img {
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
    margin-right: 0;
    background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/home/not-profile.a11144dfa440d24866faecd1411fc1c1.png);
}

.view .title .writer.post-writer-container .user-img {
    width: 32px;
    height: 32px;
}

.view .title .writer-info {
    display: -ms-flexbox;
    display: flex;
    font-size: 1em;
    letter-spacing: -.6px;
    color: var(--text-03);
}

.view .title .writer.post-writer-container .writer-info {
    -ms-flex-direction: column;
    flex-direction: column;
}

.view .title .writer.post-writer-container .writer-info .nickname-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.view .title .writer-info .name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.view .title .writer.post-writer-container .writer-info .nickname-wrapper .name {
    color: var(--text-02);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-height: 1.5em;
}

.view .title .writer-info .date {
    white-space: nowrap;
    pointer-events: none;
}

.view .title .writer.post-writer-container .writer-info .date {
    font-size: 10px;
    line-height: 16px;
    color: var(--text-04);
}

.mds-button {
    overflow: hidden;
    width: 100%;
    transition: background-color .2s linear, border-color .2s linear, color .2s linear;
}

.mds-button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

.mds-button.mds-button--secondary {
    background-color: var(--secondary);
    color: var(--ui-background);
}

.mds-button.mds-button--flex {
    width: auto;
}

.mds-button.mds-button--h56 {
    height: 56px;
    font-size: 16px;
    padding: 0 24px;
}

.mds-button.mds-button--h32 {
    height: 32px;
    font-size: 12px;
    padding: 0 12px;
}

.mds-button.mds-button--r4 {
    border-radius: 4px;
}

.button-follow {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 12px;
    min-width: 48px;
}

.mds-button>* {
    position: relative;
    z-index: 1;
}

.mds-button span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.view .detail {
    margin: 32px 0 48px;
}

.view .detail,
.view .like {
    position: relative;
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    font-style: normal;
    letter-spacing: -.6px;
}

.diary-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.thumbnail-container {
    padding: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid var(--ui-05);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.thumbnail-container {
    margin-top: 56px;
    z-index: 1;
    margin-bottom: 32px;
    height : 500px
}

.thumbnail-container .background {

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-image: var(--background-image);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.thumbnail-container .background:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: var(--GTrans-01);
}

.

.wrapper,
a,
button,
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.date-container {
    padding-bottom: 32px;
    border-bottom: 2px solid var(--ui-02);
    margin-bottom: 32px;
}

.diary-container .title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.view .title {
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    font-style: normal;
    letter-spacing: -.6px;
}

.text {
    font-size: 16px;
    color: var(--text-02);
}

.text svg {
    margin-right: 4px;
    vertical-align: bottom;
}

.reading-diary-container {
    padding-bottom: 32px;
    border-bottom: 2px solid var(--ui-02);
    margin-bottom: 32px;
}

.images-container {
    padding-bottom: 64px;
}

.list {
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list li {
    width: 342px;
    padding: 8px;
    background-color: var(--ui-up-01);
    border: 1px solid var(--GTrans-02);
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .06), 2px 2px 10px rgba(0, 0, 0, .04);
}

.list li img {
    width: 326px;
    height: 326px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
}

.list li .text {
    color: var(--text-02);
    padding: 0 24px;
    margin-top: 12px;
    margin-bottom: 10px;
    min-height: 40px;
    font-size: 14px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.list li .nickname {
    font-size: 12px;
    color: var(--GTrans-04);
    text-align: center;
    display: block;
}

.full-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0,0,0,.8);
}

.full-image .img-close{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 40px;
}

.text-post {
    font-size: 16px;
    color: var(--text-02);
    word-break: break-all;
}

.view .view-autor {
    display: block;
    margin-top: 40px;
    font-size: 12px;
    color: #a5a5a5;
    text-align: center;
}

.view .detail,
.view .like {
    position: relative;
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    font-style: normal;
    letter-spacing: -.6px;
}

.view .like {
    padding: 32px 0;
}

.view .like-inner {
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 56px 0;
}

.mds-dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0,0,0,.8);
}

.mds-dialog .mds-dialog--wrap {
    overflow: hidden;
    background-color: var(--ui-up-03);
    border-radius: 8px;
    max-width: 328px;
    width: 100%;
}

.mds-dialog .mds-dialog--inner {
    padding: 32px 24px;
}

.mds-dialog .mds-dialog--header {
    margin-bottom: 16px;
    text-align: center;
}

.mds-dialog .mds-dialog--header strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-01);
}

.mds-dialog .mds-dialog--body {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 60px;
    padding : 0 40px;
}

.mds-dialog .mds-dialog--body,
.mds-dialog .mds-dialog--footer {
    display: -ms-flexbox;
    display: flex;
}

.unload-popup .dialog-content {
    text-align: center;
    width : 60%
}

.mds-dialog .mds-dialog--body, .mds-dialog .mds-dialog--footer {
    display: -ms-flexbox;
    display: flex;
}


.mds-button.mds-button--cancel {
    background-color: var(--cancel);
    color: var(--text-01);
}

.mds-button.mds-button--line {
    position: relative;
    background-color: transparent;
    border: 1px solid;
}

.mds-button.mds-button--r100 {
    border-radius: 100px;
}

.mds-button.mds-button--cancel.mds-button--line {
    border-color: var(--cancel);
    color: var(--cancel);
}

.view .like .like-btn {
    padding: 7px 16px;
    font-size: 12px;
    margin-bottom: 16px;
    color: var(--text-04);
}

.mds-button.mds-button--line:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .1;
    transition: background-color .2s linear;
    content: "";
}

.view .like .like-list {
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.6px;
    color: var(--cancel-press);
    cursor: pointer;
}

.relevant {
    font-style: normal;
    padding-bottom: 48px;
    border-top: 1px;
    border-style: solid;
    border-color: var(--field-readonly);
}

.relevant-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 32px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

.relevant-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.6px;
    color: var(--text-01);
}

.relevant .book-shelf {
    padding-top: 16px;
}

html:not(.ie) .slide-container {
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: -16px;
}

.book-shelf .slide-wrapper {
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-right: 24px;
}

html:not(.ie) .slide-container .slide-wrapper {
    -webkit-overflow-scrolling: touch;
    padding-top: 16px;
}

.book-shelf .slide-wrapper .slide-item {
    width: 20%;
    min-width: 145px;
    margin-left: 16px;
    max-width: 145px;
}

.book-shelf .slide-wrapper .slide-item:first-child {
    margin-left: 24px !important;
}

.relevant .book-shelf .slide-wrapper .slide-item:first-child {
    margin-left: 0 !important;
}

/* 원본은 book-jeog */
.book-jeog.books {
    min-width: 145px;
}

.book-jeog .book-image {
    display: block;
}

.book-jeog.books>a,
.book-jeog.books>button {
    display: block;
    width: 100%;
}

.book-jeog.books .book-image {
    min-height: auto;
    padding-top: 0;
    height: 100%;
}

.book-jeog.books .book-image,
.book-jeog.books .thumbnail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.book-jeog.books .thumbnail {
    position: relative;
    width: 100%;
}

.book-jeog.books .thumbnail-inner {
    overflow: hidden;
    position: relative;
    width: inherit;
    background: linear-gradient(90deg, var(--ui-05) 25%, var(--ui-05) 37%, var(--ui-05) 63%);
    border-radius: 0 4px 4px 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .2);
}

.book-picture {
    overflow: hidden;
    position: relative;
    max-height: 240px;
}

.book-picture.imageLoaded {
    padding-top: 0;
}

/* .book-picture picture {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .7s;
}

.book-picture.imageLoaded picture {
    position: static;
    opacity: 1;
}

.book-picture picture img {
    display: block;
    width: 100%;
    height: 100%;
} */

.book-jeog.books>a,
.book-jeog.books>button {
    display: block;
    width: 100%;
}

.metadata {
    padding-top: 12px;
    font-size: 12px;
    text-align: left;
    position: relative;
}

.book-jeog.books .metadata {
    padding-top: 12px;
    font-size: 12px;
    text-align: left;
    position: relative;
}

.books .metadata {
    line-height: 1.5em;
}

.metadata .badge {
    display: none;
    min-width: 37px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: relative;
    margin-bottom: 4px;
}

.book-jeog.books .metadata .badge {
    display: none;
    min-width: 37px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: relative;
    margin-bottom: 4px;
}

.metadata .title {
    -webkit-line-clamp: 2;
    max-height: 2.7em;
    color: var(--text-01);
    font-weight: 700;
    font-size: 16px;
    max-height: 3em;
}

.metadata .author,
.metadata .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin-bottom: 3px;
    white-space: normal;
}

.book-jeog.books .metadata .title {
    -webkit-line-clamp: 2;
    max-height: 2.7em;
    color: var(--text-01);
    font-weight: 700;
    font-size: 16px;
    max-height: 3em;
}

.metadata .author {
    -webkit-line-clamp: 1;
    max-height: 1.35em;
    color: var(--text-03);
    font-size: 14px;
}

.book-jeog.books .metadata .author,
.book-jeog.books .metadata .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin-bottom: 3px;
    white-space: normal;
}

.book-jeog.books .metadata .author {
    -webkit-line-clamp: 1;
    max-height: 1.35em;
    color: var(--text-03);
    font-size: 14px;
}

.meta {
    font-style: normal;
    background: var(--ui-04);
    font-size: 1em;
}

.meta-contents {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
}

.flex-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.meta-contents .top-row {
    height: 56px;
    margin: 32px 0;
}

.meta-contents .top-row-info {
    min-width: 0;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1;
}

.meta .owner {
    width: 100%;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1;
}

.meta .owner-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url(https://d3udu241ivsax2.cloudfront.net/devjs/images/home/not-profile.a11144dfa440d24866faecd1411fc1c1.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
    margin-right: 16px;
}

.meta .owner-info {
    min-width: 0;
}

.meta .owner-name {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.25em;
    padding-bottom: 4px;
    text-overflow: ellipsis;
}

.meta .owner-sub-count {
    display: -ms-flexbox;
    display: flex;
    font-size: .75em;
    color: var(--text-02);
    letter-spacing: -.6px;
    white-space: nowrap;
}

.meta .owner-sub-count .following {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.meta .owner-sub-count span {
    margin-left: 4px;
    font-weight: 700;
}

.meta .owner-sub-count .following:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 4px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='3' height='3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.803 2.664a.968.968 0 01-.708-.3c-.2-.2-.3-.436-.3-.708 0-.28.1-.516.3-.708.2-.2.436-.3.708-.3.28 0 .516.1.708.3.2.192.3.428.3.708 0 .272-.1.508-.3.708-.192.2-.428.3-.708.3z' fill='%23555'/%3E%3C/svg%3E");
}

.meta-contents .top-row-btn {
    -ms-flex-item-align: center;
    align-self: center;
}

.meta .post-card {
    display: -ms-flexbox;
    display: flex;
    gap: 3.428571428571429%;
}

.meta .post-card-before {
    text-align: left;
}

.meta .post-card-after {
    text-align: right;
}

.meta .post-card>a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    margin-bottom: 32px;
}

.meta .post-card>a .post-img {
    position: relative;
    background-color: var(--ui-01);
    padding-top: 47.337278106508876%;
    overflow: hidden;
    border-radius: 4px;
}

.meta .post-card>a .post-img .post-img-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--placeholder);
}

.block-tool-book {
    margin: 12px 0;
    border: 1px solid #ececec;
    border: 1px solid var(--ui-05);
    border-radius: 12px;
    overflow: hidden;
}

.meta .post-card>a .post-img .block-tool-book {
    border-radius: unset;
}

.block-tool-book:before {
    height: 100%;
    opacity: .15;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.block-tool-book:after,
.block-tool-book:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.block-tool-book .book-inner {
    position: relative;
    z-index: 1;
    display: block;
    padding: 32px;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.meta .post-card>a .post-img .book-inner {
    padding: 0;
}

.block-tool-book .book-cover {
    margin: 0 auto;
}

.block-tool-book:after {
    background: rgba(176, 179, 188, .1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(32px);
}

.meta .post-card>a .next-post,
.meta .post-card>a .prev-post {
    font-size: .75em;
    letter-spacing: -.6px;
    color: var(--text-04);
}

.meta .post-card>a .post-author {
    font-weight: 700;
    font-size: .875em;
    letter-spacing: -.6px;
    color: var(--text-01);
    word-break: break-word;
}

.comment {
    font-style: normal;
    background: var(--ui-background);
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 100px;
}

.comment-inner {
    position: relative;
    max-width: 700px;
    min-width: 320px;
    padding: 0 24px;
    margin: 0 auto;
}

.comment .register {
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 8px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--ui-06);
}

.comment .user-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
    margin-right: 8px;
}

.comment .register-box {
    -ms-flex: 1;
    flex: 1;
}

.comment .register-box-inner {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: var(--ui-background);
    border: 1px solid var(--ui-06);
    box-sizing: border-box;
    border-radius: 4px;
}

.comment .register-box-inner span {
    padding: 8px 0 0 12px;
    font-size: .625em;
    line-height: 16px;
    letter-spacing: -.6px;
    color: var(--text-04);
}

[contenteditable] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.comment .register-box-inner p {
    padding: 0 0 8px 12px;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: -.6px;
    color: #c1c1c1;
    word-break: break-all;
}

.comment .register-box-inner p :empty:not(:focus):before {
    content: attr(data-placeholder);
}

.comment .register .post-btn {
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    max-height: 300px;
}

.comment-title {
    font-size: 1em;
    letter-spacing: -.6px;
    color: var(--text-01);
    margin-bottom: 24px;
}

.comment-title-length {
    color: #ffb904;
    margin-left: 2px;
}

.comment-item {
    position: relative;
    margin: 24px 0;
}

.comment-item :first-child {
    margin-top: 0;
}

.comment-item-inner {
    border-left-color: var(--ui-05);
    border-bottom: 1px var(--ui-05);
    border-style: solid;
    border-right-color: var(--ui-05);
    border-top-color: var(--ui-05);
    padding-bottom: 16px;
}

.comment .user-img a {
    display: block;
    height: 100%;
}

.comment .com-contents {
    -ms-flex: 1;
    flex: 1;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.6px;
}

.comment .com-contents-head {
    font-size: .75em;
    line-height: 18px;
}

.comment .com-contents-top {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.comment .com-contents-top .nickname {
    color: var(--text-02);
    width: 70%;
}

.comment .com-contents-date {
    color: var(--text-04);
}

.comment .com-contents-body {
    font-size: 1em;
    line-height: 24px;
    padding-top: 16px;
}

.comment .com-contents-body p {
    color: var(--text-01);
    word-break: break-all;
}

.comment .com-contents-body .comment-text {
    display: none;
    white-space: pre-wrap;
}

.comment .com-contents-body .comment-text.show {
    display: block;
    margin: 0 16px 0 0;
}

.comment .com-contents .reply-setting {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-03);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.comment .com-contents .reply-setting .more-btn {
    width: 24px;
    height: 24px;
}

.comment .com-contents .reply-setting .more-area {
    position: absolute;
    top: 0;
    right: 24px;
    background-color: var(--ui-background);
    box-shadow: 0 8px 20px rgba(0,0,0,.1),0 2px 8px rgba(0,0,0,.1);
}

.comment .com-contents .reply-setting .more-area button {
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 12px;
    width: 132px;
    text-align: left;
}

.comment .reply-container .reply-item {
    margin: 24px 0;
    position: relative;
}

.comment .reply-container .reply-item-inner {
    border-left-color: var(--ui-05);
    border-bottom: 1px var(--ui-05);
    border-style: solid;
    border-right-color: var(--ui-05);
    border-top-color: var(--ui-05);
    padding-bottom: 16px;
    margin-left: 64px;
}

.comment .reply-container .reply-item-inner:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23C4C4C4' d='M0 0h1v16H0z'/%3E%3Cpath fill='%23C4C4C4' d='M0 15h16v1H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    margin-right: 8px;
}

.comment .reply-container .reply-item-inner .user-img {
    width: 40px;
    height: 40px;
}

.comment .com-contents {
    -ms-flex: 1;
    flex: 1;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.6px;
}

.comment .com-contents-head {
    font-size: .75em;
    line-height: 18px;
}

.comment .com-contents-top {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.comment .com-contents-top .nickname {
    color: var(--text-02);
    width: 70%;
}

.comment .com-contents-date {
    color: var(--text-04);
}

.comment .com-contents .reply-setting {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-03);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.comment .com-contents .reply-setting .more-btn {
    width: 24px;
    height: 24px;
}

.comment .com-contents-body {
    font-size: 1em;
    line-height: 24px;
    padding-top: 16px;
}

.comment .com-contents-body p {
    color: var(--text-01);
    word-break: break-all;
}

.comment .com-contents-body .comment-text {
    display: none;
    white-space: pre-wrap;
}

.comment .com-contents-body .comment-text.show {
    display: block;
    margin: 0 16px 0 0;
}