<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원탈퇴 | 북적서울</title>
        <link
            rel="shortcut icon"
            href="../../static/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../../static/css/main/global-settings.css"
        />
        <link rel="stylesheet" href="../../static/css/main/header.css" />
        <link
            rel="stylesheet"
            href="../../static/css/member/leave-reason.css"
        />
    </head>
    <body>
        <div id="wrap" class="show-top-header">
            <!-- 헤더 부분 -->
            <div class="top-header background on">
                <div class="inner">
                    <header>
                        <h1>
                            <a href="" class="logo">
                                <img
                                    src="../../static/images/common/Logo.png"
                                    alt="북적서울"
                                    class="bookjeog-logo"
                                    style="scale: 1.5"
                                />
                            </a>
                        </h1>
                        <nav>
                            <ul class="gnb">
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-report"
                                        class="book-report"
                                        >독후감</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="donation"
                                        class="donation"
                                        >기부</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="search"
                                        class="search"
                                        >검색</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-shelf"
                                        class="book-shelf"
                                        >내서재</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="manage"
                                        class="manage"
                                        >관리</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="discussion"
                                        class="discussion"
                                        >북적북적</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="util-wrap">
                            <!-- data-count가 알람 개수 -->
                            <a
                                href=""
                                class="alarm-button"
                                data-content-type="alarmCenter"
                                data-count="10"
                            >
                                <span class="mds-icon-alarm">
                                    <span class="ir">알림센터</span>
                                </span>
                            </a>
                            <ul class="util">
                                <li class="sign sign-in">
                                    <a href="" data-content-type="login"
                                        >로그아웃</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </header>
                </div>
            </div>
            <!-- // 헤더 부분 -->
            <section class="content">
                <div class="bookjeog-inner">
                    <div id="backComponent" class="back-component">
                        <div class="back-wrap line">
                            <div>
                                <div class="back">
                                    <button
                                        type="button"
                                        class="close-button"
                                    ></button>
                                    <h2>회원 탈퇴</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-content">
                        <h2 class="leave-title">탈퇴 사유 입력</h2>
                        <ul>
                            <li class="radio-style-v1">
                                <input
                                    type="radio"
                                    name="leave-check"
                                    id="check-0"
                                />
                                <label for="check-0"
                                    ><span>자주 사용하지 않아서</span></label
                                >
                            </li>
                            <li class="radio-style-v1">
                                <input
                                    type="radio"
                                    name="leave-check"
                                    id="check-1"
                                />
                                <label for="check-1"
                                    ><span>도서 컨텐츠가 부족해서</span></label
                                >
                            </li>
                            <li class="radio-style-v1">
                                <input
                                    type="radio"
                                    name="leave-check"
                                    id="check-2"
                                />
                                <label for="check-2"
                                    ><span>잦은 시스템 오류 때문에</span></label
                                >
                            </li>
                            <li class="radio-style-v1">
                                <input
                                    type="radio"
                                    name="leave-check"
                                    id="check-3"
                                />
                                <label for="check-3"
                                    ><span
                                        >전반적으로 이용이 어려워서</span
                                    ></label
                                >
                            </li>
                            <li class="radio-style-v1">
                                <input
                                    type="radio"
                                    name="leave-check"
                                    id="check-4"
                                />
                                <label for="check-4"
                                    ><span
                                        >개인정보 및 보안 우려때문에</span
                                    ></label
                                >
                            </li>
                            <li class="radio-style-v1">
                                <input
                                    type="radio"
                                    name="leave-check"
                                    id="check-5"
                                />
                                <label for="check-5"
                                    ><span
                                        >다른 아이디로 가입하고자</span
                                    ></label
                                >
                            </li>
                            <li class="radio-style-v1">
                                <input
                                    type="radio"
                                    name="leave-check"
                                    id="check-6"
                                />
                                <label for="check-6"
                                    ><span>기타(직접작성)</span></label
                                >
                            </li>
                        </ul>
                        <textarea
                            cols="30"
                            rows="5"
                            placeholder="탈퇴 사유 간략히 입력"
                            class="leave-text-area"
                        ></textarea>
                        <div class="button-box">
                            <button type="button" class="gray">
                                나중에 하기
                            </button>
                            <button type="button" class="yellow">
                                탈퇴하기
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="../../static/js/member/leave-reason.js"></script>
</html>
