<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>개인정보수정 | 북적서울</title>
        <link
            rel="shortcut icon"
            href="/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/css/main/global-settings.css"
        />
        <link rel="stylesheet" href="/css/main/header.css" />
        <link rel="stylesheet" href="/css/member/my-profile.css" />
    </head>
    <body>
        <div id="wrap" class="show-top-header web-mount pcv-mount">
            <!-- 헤더 구역 -->
            <div class="top-header background on">
                <div class="inner">
                    <header>
                        <h1>
                            <a href="" class="logo">
                                <img
                                    src="/images/common/Logo.png"
                                    alt="북적서울"
                                    class="bookjeog-logo"
                                    style="scale: 1.5"
                                />
                            </a>
                        </h1>
                        <nav>
                            <ul class="gnb">
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-report"
                                        class="book-report"
                                        >독후감</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="donation"
                                        class="donation"
                                        >기부</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="search"
                                        class="search"
                                        >검색</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-shelf"
                                        class="book-shelf"
                                        >내서재</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="manage"
                                        class="manage"
                                        >관리</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="discussion"
                                        class="discussion"
                                        >북적북적</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="util-wrap">
                            <!-- data-count가 알람 개수 -->
                            <a
                                href=""
                                class="alarm-button"
                                data-content-type="alarmCenter"
                                data-count="10"
                            >
                                <span class="mds-icon-alarm">
                                    <span class="ir">알림센터</span>
                                </span>
                            </a>
                            <ul class="util">
                                <li class="sign sign-in">
                                    <a href="" data-content-type="login"
                                        >로그아웃</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </header>
                </div>
            </div>
            <!-- // 헤더 구역 -->
            <section class="content">
                <div class="bookjeog-inner">
                    <div>
                        <div
                            id="backComponent"
                            class="back-component border-hidden"
                        >
                            <div class="back-wrap line">
                                <div>
                                    <div class="back">
                                        <button
                                            type="button"
                                            class="close-button"
                                        ></button>
                                        <h2>개인정보수정</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-content">
                            <p class="sign-up-mark kakao">카카오 계정 회원</p>
                            <div class="picture-box">
                                <div class="inner">
                                    <div
                                        class="image-box"
                                        style="
                                            background-image: url(/images/post/user_profile_example.png);
                                        "
                                    ></div>
                                    <label class="picture-change-button">
                                        <input
                                            type="file"
                                            id="file-input"
                                            accept=".jpg, .jpeg, .png, .gif, .heic"
                                        />
                                    </label>
                                    <button
                                        type="button"
                                        class="picture-remove-button"
                                    >
                                        사진 삭제
                                    </button>
                                </div>
                            </div>
                            <div class="input-item nickname">
                                <p class="title">필명<span>*</span></p>
                                <div class="input-group">
                                    <div class="input-box">
                                        <input
                                            type="text"
                                            placeholder="필명 입력"
                                            class="input-text"
                                        />
                                    </div>
                                    <button type="button" class="button">
                                        변경하기
                                    </button>
                                </div>
                                <span class="exp"
                                    >욕설, 비속어 사용 시 서비스 이용이 제한될
                                    수 있습니다.</span
                                >
                            </div>
                            <hr class="line" />
                            <div>
                                <h4 class="sub-title">계정 정보</h4>
                                <div class="input-item email">
                                    <p class="title">이메일<span>*</span></p>
                                    <div class="input-group">
                                        <div class="input-box">
                                            <input
                                                type="text"
                                                placeholder="이메일 주소 입력"
                                                class="input-text"
                                            />
                                        </div>
                                        <button type="button" class="button">
                                            변경하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="line" />
                            <div>
                                <h4 class="sub-title">회원 정보</h4>
                                <div class="input-item">
                                    <p class="title">
                                        휴대폰 번호<span>*</span>
                                    </p>
                                    <div class="input-group">
                                        <div class="input-box">
                                            <input
                                                type="tel"
                                                placeholder="휴대폰 번호 입력( '-' 제외)"
                                                disabled="disabled"
                                                class="input-text"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="/js/member/my-profile-event.js"></script>
</html>
