<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>비밀번호 확인 | 북적서울</title>
        <link
            rel="shortcut icon"
            href="/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/css/main/global-settings.css"
        />
        <link rel="stylesheet" href="/css/main/header.css" />
        <link
            rel="stylesheet"
            href="/css/member/password-check.css"
        />
    </head>
    <body>
        <div id="wrap" class="show-top-header web-mount pcv-mount">
            <!-- 헤더 영역 -->
            <div class="top-header background on">
                <div class="inner">
                    <header>
                        <h1>
                            <a href="" class="logo">
                                <img
                                    src="/images/common/Logo.png"
                                    alt="북적서울"
                                    class="bookjeog-logo"
                                    style="scale: 1.5"
                                />
                            </a>
                        </h1>
                        <nav>
                            <ul class="gnb">
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-report"
                                        class="book-report"
                                        >독후감</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="donation"
                                        class="donation"
                                        >기부</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="search"
                                        class="search"
                                        >검색</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-shelf"
                                        class="book-shelf"
                                        >내서재</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="manage"
                                        class="manage"
                                        >관리</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="discussion"
                                        class="discussion"
                                        >북적북적</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="util-wrap">
                            <!-- data-count가 알람 개수 -->
                            <a
                                href=""
                                class="alarm-button"
                                data-content-type="alarmCenter"
                                data-count="10"
                            >
                                <span class="mds-icon-alarm">
                                    <span class="ir">알림센터</span>
                                </span>
                            </a>
                            <ul class="util">
                                <li class="sign sign-in">
                                    <a href="" data-content-type="login"
                                        >로그아웃</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </header>
                </div>
            </div>
            <!-- // 헤더 영역 -->
            <section class="content">
                <div class="bookjeog-inner">
                    <div
                        id="backComponent"
                        class="back-component border-hidden"
                    >
                        <div class="back-wrap line">
                            <div>
                                <div class="back">
                                    <button
                                        type="button"
                                        class="close-button"
                                    ></button>
                                    <h2>내 정보 관리</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="password-box web-padding-top">
                        <div class="txt-blk">
                            <h3>비밀번호 확인</h3>
                            <img
                                src="/images/member/password-check.png"
                            />
                            <p>
                                안전한 개인정보 변경을 위해<br />비밀번호를 다시
                                입력해주세요.
                            </p>
                        </div>
                        <form action="/personal/password-check" method="post">
                            <div class="ipt-blk">
                                <div class="mds-input input-text mds-input-default flex">
                                    <label style="border-color: var(--ui-06);">
                                        <div class="inner">
                                            <div class="input">
                                                <span id="input-215-label" class="label">
                                                    비밀번호 <sup>*</sup>
                                                </span>
                                                <input type="password" name="password" id="input-215" autocomplete="off"
                                                       placeholder="비밀번호 입력" class="mds-input-field">
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <button type="submit" class="btn-submit mds-button mds-button-primary">
                                    <span>확인</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const errorMsg = [[${error != null}]] ? '[[${error}]]' : null;
        if (errorMsg) {
            alert(errorMsg);
        }
        /*]]>*/
    </script>
    <script src="/js/member/password-check.js"></script>
</html>
