<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>비밀번호 확인 | 북적북적</title>
        <link
            rel="shortcut icon"
            href="/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/css/main/global-settings.css"
        />
        <link rel="stylesheet" href="/css/main/header.css" />
        <link
            rel="stylesheet"
            href="/css/member/password-check.css"
        />
    </head>
    <body>
        <div id="wrap" class="show-top-header web-mount pcv-mount">
            <!-- 헤더 시작 -->
            <div th:replace="~{main/header :: header-sc}"></div>
            <!-- 헤더끝 -->
            <section class="content">
                <div class="bookjeog-inner">
                    <div
                        id="backComponent"
                        class="back-component border-hidden"
                    >
                        <div class="back-wrap line">
                            <div>
                                <div class="back">
                                    <button
                                        type="button"
                                        class="close-button"
                                    ></button>
                                    <h2>내 정보 관리</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="password-box web-padding-top">
                        <div class="txt-blk">
                            <h3>비밀번호 확인</h3>
                            <img
                                src="/images/member/password-check.png"
                            />
                            <p>
                                안전한 개인정보 변경을 위해<br />비밀번호를 다시
                                입력해주세요.
                            </p>
                        </div>
                        <form action="/personal/password-check" method="post">
                            <div class="ipt-blk">
                                <div class="mds-input input-text mds-input-default flex">
                                    <label style="border-color: var(--ui-06);">
                                        <div class="inner">
                                            <div class="input">
                                                <span id="input-215-label" class="label">
                                                    비밀번호 <sup>*</sup>
                                                </span>
                                                <input type="password" name="password" id="input-215" autocomplete="off"
                                                       placeholder="비밀번호 입력" class="mds-input-field">
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <button type="submit" class="btn-submit mds-button mds-button-primary">
                                    <span>확인</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const errorMsg = [[${error != null}]] ? '[[${error}]]' : null;
        if (errorMsg) {
            alert(errorMsg);
        }
        /*]]>*/
    </script>
    <script src="/js/member/password-check.js"></script>
</html>
