*, :after, :before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    letter-spacing: -.6px;
}
body {
    height: 100;
}
body, body[data-theme=dark], body[data-theme=dark] .not-dark, body[data-theme=light] {
    --ui-background: #fff;
    --ui-01: #fbfbfb;
    --ui-02: #f7f7f7;
    --ui-03: #f2f2f2;
    --ui-04: #efefef;
    --ui-05: #ececec;
    --ui-06: #dfdfdf;
    --ui-07: #c1c1c1;
    --ui-08: #555;
    --ui-09: #333;
    --ui-10: #242424;
    --ui-up: #fff;
    --ui-up-01: #fff;
    --ui-up-02: #fff;
    --ui-up-03: #fff;
    --ui-up-04: #fff;
    --primary: #ffeb60;
    --primary-press: #ffe04b;
    --secondary: #333;
    --secondary-press: #242424;
    --tertiary: #fff;
    --tertiary-press: #f7f7f7;
    --danger: #df1d1d;
    --danger-press: #bc1a1a;
    --quaternary: #ececec;
    --quaternary-press: #dfdfdf;
    --cancel: #c1c1c1;
    --cancel-press: #a5a5a5;
    --success: #0073cb;
    --error: #f05c2e;
    --text-strong: #000;
    --text-01: #242424;
    --text-02: #555;
    --text-03: #6f6f6f;
    --text-04: #8b8b8b;
    --field-readonly: #ececec;
    --placeholder: #c1c1c1;
    --audio: #a451f7;
    --myaudio: #533670;
    --focus: #469fe3;
    --Line-01: #dfdfdf;
    --Line-02: #ececec;
    --Line-03: #f7f7f7;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: white;
    border-bottom: 1px solid gray;
}
.header header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--header-width);
    height: 70px;
    padding: 0 30px;
    margin: 0 auto;
    background: var(--ui-background);
}
.header a {
    display: block;
    height: 20px;
}
img {
    max-width: 130%;
}
h1 {
    width: 100px;
    margin: 0 50px 30px 0;
    z-index: 1;
}
@font-face {
    font-family: SpoqaHanSansNeo;
    font-weight: 300;
    src: url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/SpoqaHanSansNeo-Thin.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/SpoqaHanSansNeo-Thin.woff) format("woff")
}

@font-face {
    font-family: SpoqaHanSansNeo;
    font-weight: 500;
    src: url(../../fonts/main/SpoqaHanSansNeo-Regular.ttf) format("truetype");
}

@font-face {
    font-family: SpoqaHanSansNeo;
    font-weight: 900;
    src: url(../../fonts/main/SpoqaHanSansNeo-Bold.ttf) format("truetype");
}
*{
    font-family: SpoqaHanSansNeo, Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    line-height: 2.5;
    color: var(--text-01);
}
.admin-login {
    display: flex;
    width: 100%;
    position: absolute;
    top: 20%;
    margin: auto;
    justify-content: center;
}
.login-wrap {
    
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    
    justify-content: center;
}
.input-item {
    padding-top: 10px;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
}
body {
    --header-width: 1440px;
    --today-width: 1440px;
    --search-width: 1440px;
    --feed-width: 1440px;
    --library-width: 1440px;
    --management-width: 600px;
    --ai-agent-width: 1000px;
    --book-detail-width: 1440px;
    --audio-detail-width: 1440px;
    --depth-width: 1440px;
    --footer-width: 1440px;
    --inner-width: 1280px;
    --middle-width: 700px;
    --road-detail-width: 1440px;
    --happy-max-width: 600px;
    --customer-width: 1440px;
}
button {
    cursor: pointer;
}
body, body[data-theme=dark], body[data-theme=dark] .not-dark, body[data-theme=light] {
    --ui-background: #fff;
    --ui-01: #fbfbfb;
    --ui-02: #f7f7f7;
    --ui-03: #f2f2f2;
    --ui-04: #efefef;
    --ui-05: #ececec;
    --ui-06: #dfdfdf;
    --ui-07: #c1c1c1;
    --ui-08: #555;
    --ui-09: #333;
    --ui-10: #242424;
    --ui-up: #fff;
    --ui-up-01: #fff;
    --ui-up-02: #fff;
    --ui-up-03: #fff;
    --ui-up-04: #fff;
    --primary: #ffeb60;
    --primary-press: #ffe04b;
    --secondary: #333;
    --secondary-press: #242424;
    --tertiary: #fff;
    --tertiary-press: #f7f7f7;
    --danger: #df1d1d;
    --danger-press: #bc1a1a;
    --quaternary: #ececec;
    --quaternary-press: #dfdfdf;
    --cancel: #c1c1c1;
    --cancel-press: #a5a5a5;
    --success: #0073cb;
    --error: #f05c2e;
    --text-strong: #000;
    --text-01: #242424;
    --text-02: #555;
    --text-03: #6f6f6f;
    --text-04: #8b8b8b;
    --field-readonly: #ececec;
    --placeholder: #c1c1c1;
    --audio: #a451f7;
    --myaudio: #533670;
    --focus: #469fe3;
    --Line-01: #dfdfdf;
    --Line-02: #ececec;
    --Line-03: #f7f7f7;
}
body, body[data-theme=dark], body[data-theme=dark] .not-dark, body[data-theme=light] {
    --chatbook: #eb683f;
    --GTrans-01: rgba(176, 179, 188, 0.1);
    --GTrans-02: rgba(176, 179, 188, 0.3);
    --GTrans-03: rgba(176, 179, 188, 0.5);
    --GTrans-04: rgba(176, 179, 188, 0.7);
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    letter-spacing: -.6px;
}
.login-container .input-item {
    margin-bottom: 8px;
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
}
.login-container .login-content {
    -ms-flex-preferred-size: 520px;
    flex-basis: 520px;
    max-width: 1000px;
    padding: 80px 40px;
    background-color: var(--ui-background);
}
.login-container .title {
    color: var(--text-01);
    font-size: 24px;
    margin-bottom: 4px;
}
.bjs-input-id {
    flex: 1;
    width: 100%;
    overflow: hidden;
}
.inner {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
}
.input {
    flex: 1;
}
#clear-button-id {
    overflow: hidden;
    width: 20px;
    height: 20px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 17px;
    color: var(--ui-06);
    line-height: 16px;
    content: "\e84e";
    font-family: icon;
    background: transparent;
    display: none;
}
#clear-button-pw {
    overflow: hidden;
    width: 20px;
    height: 20px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 17px;
    color: var(--ui-06);
    line-height: 16px;
    content: "\e84e";
    font-family: icon;
    background: transparent;
    display: none;
}
#clear-button-id:before {
    font-size: 17px;
    color: var(--ui-06);
    line-height: 16px;
    content: "\e84e";
    font-family: icon;
    pointer-events: none;
}
#clear-button-pw:before {
    font-size: 17px;
    color: var(--ui-06);
    line-height: 16px;
    content: "\e84e";
    font-family: icon;
    pointer-events: none;
}
.input-id-label {
    display: block;
    margin-bottom: -9px;
    font-size: 10px;
    color: var(--text-04);
}
#bjs-id {
    width: 100%;
    height: 24px;
    font-size: 16px;
    text-align: left;
    color: var(--text-01);
}
.sub-title {
    color: var(--text-03);
    font-size: 16px;
    margin-bottom: 24px;
}
.login-container:before {
    flex: 1;
    content: "";
    background: url(../../images/main/mainimage2.gif)
    no-repeat 50% / cover;
}

.input-label-id {
    border-radius: 4px;
    display: block;
    height: 56px;
    padding: 8px 12px;
    border: 2px solid var(--ui-06);
}
input:focus {
    border-color: none;
    border: none
}
#bjs-pw {
    width: 100%;
    height: 24px;
    font-size: 16px;
    text-align: left;
    color: var(--text-01);
}
.input-label-pw {
    border-radius: 4px;
    display: block;
    height: 56px;
    padding: 8px 12px;
    border: 2px solid var(--ui-06);
}
.input-pw-label {
    display: block;
    margin-bottom: -9px;
    font-size: 10px;
    color: var(--text-04);
}
.bjs-input-pw {
    flex: 1;
    width: 100%;
    overflow: hidden;
}
@font-face {
    font-family: icon;
    src: url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/mds-icon-v9.woff2) format("woff"),url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/mds-icon-v9.woff) format("woff2");
    font-display: block
}
.icon-input-delete {
    content: "\e84e";
}
.login-btn-area {
    margin-top: 16px !important;
    position: relative;
}
#login-btn {
    overflow: hidden;
    width: 100%;
    background-color: #90ff68;
    color: #242424;
    height: 56px;
    font-size: 16px;
    padding: 0 24px;
    border-radius: 4px;
    opacity: .4;
    cursor: not-allowed;
}
.login-sub-menu {
    justify-content: center;
    display: flex;
    margin-top: 24px;
    margin-bottom: 34px;
}
.login-container .login-sub-menu li {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
}
.login-container .login-sub-menu li a {
    color: var(--text-04);
    font-size: 16px;
}
.login-sub-menu li:after {
    height: 12px;
    width: 1px;
    background-color: var(--text-04);
    content: "";
    margin: 0 8px;
}
.login-sub-menu li:last-child:after {
    content: none;
    
}
#modal-wrap {
    overflow: hidden;
    background-color: var(--ui-up-03);
    border-radius: 8px;
    max-width: 328px;
    width: 100%;
}
.modal-wrap {
    padding: 32px 24px;
}
.modal-footer {
    display: flex;
}
#modal-wrap .modal-footer button {
    overflow: hidden;
    width: 100%;
    background-color: var(--primary);
    color: #242424;
    height: 56px;
    font-size: 16px;
    padding: 0 24px;
}
.modal-header {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}
.modal-body {
    justify-content: center;
    min-height: 60px;
    align-items: center;
    display: flex;
}
#modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-01);
}
.modal-body p {
    margin-bottom: 12px;
    text-align: center;
    color: var(--text-03);
}
.modal-body p:last-child {
    margin-bottom: 0;
}
#modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    transition: opacity .5s ease, visibility 2s ease;
    opacity: 0;
    visibility: hidden;
}
#modal.fade-out {
    visibility: hidden;
    opacity: 0;
}
#modal.fade-in {
    visibility: visible;
    opacity: 1;
}
.or-line {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a5a5a5;
    font-size: 10px;
    margin-bottom: 16px;
}
.or-line p {
    padding: 0 24px;
    word-break: keep-all;
    text-align: center;
    position: absolute;
    background-color: var(--ui-background);
}
.or-line:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #a5a5a5;
}
.kakao-login-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.kakao-login {
    background-color: transparent;
}
.kakao-login-wrap img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    scale: 1.1;
}
.login-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(232, 223, 223);
    border-radius: 15px;
    width: 500px;
    height: 600px;
    padding: 50px;
}