.modal-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 17;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    z-index: 18;
}

.monthly-book-table th,
.monthly-book-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e9ecef;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis; 
  max-width: 200px;
}

.monthly-book-table th:first-child,
.monthly-book-table td:first-child {
    max-width : 30px
}

.monthly-book-table th:nth-child(2),
.monthly-book-table td:nth-child(2) {
    max-width : 50px
}

.monthly-book-table th:last-child,
.monthly-book-table td:last-child {
    max-width : 60px
}


.monthly-book-modal .modal-container{
    max-width: 800px;
}