<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
    <title>북적 서울 | 후원 인증 게시글</title>
    <link rel="stylesheet"
        href="/static/css/donation/donate_cert_post.css" />
    <link rel="stylesheet"
        href="/static/css/donation/feed_common.css" />
    <link rel="shortcut icon" href="/static/images/admin/favicon.ico"
        type="image/x-icon" />
</head>

<body>
    <div id="wrap" class="web-mount pcv-mount">
        <!---->
        <!---->
        <!---->
        <section class="content">
            <div class="view">
                <div class="view-header">
                    <div class="vheader">
                        <div class="vheader-inner">
                            <div id="backComponent"
                                data-article-type="back-component"
                                class="back-component border-hidden">
                                <div class="back line">
                                    <button type="button"
                                        data-content-type="back-button"
                                        class="close-button"
                                        style="display: block;">
                                        <i
                                            class="mds-icon--arrow-left"></i>
                                    </button>
                                    <!---->
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                            <ul class="util">
                                <li class="like-item">
                                    <button type="button">
                                        <i
                                            class="editor-icon--heart"></i><span></span>
                                    </button>
                                </li>
                                <li class="like-item">
                                    <button type="button">
                                        <i
                                            class="editor-icon--heart_filled"></i><span>1</span>
                                    </button>
                                </li>

                                <li class="comment-item">
                                    <button type="button">
                                        <i
                                            class="editor-icon--comment"></i><span>0</span>
                                    </button>
                                </li>
                                <li class="share-item">
                                    <button type="button">
                                        <i
                                            class="editor-icon--share"></i><span></span>
                                    </button>
                                </li>
                                <li class="more-item">
                                    <button type="button">
                                        <i
                                            class="editor-icon--more"></i>
                                    </button>
                                    <ul class="more-ul"
                                        style="display: none">
                                        <li><a>신고하기</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="view-expand diary">
                    <div class="title">
                        <div class="title-inner container">
                            <h1>
                                후원 인증 게시글 페이지
                            </h1>
                            <div class="flex-container space-between">
                                <a href="/v4/library/5949440"
                                    class="writer flex-container post-writer-container">
                                    <div class="user-img" style="
                                                background-image: url('https://d3uz7kn1zskbbz.cloudfront.net/profile/ntruss/cffcc17f5c95881b480ff2e87187c0ea.png');
                                            "></div>
                                    <div class="writer-info">
                                        <div class="nickname-wrapper">
                                            <p
                                                class="name mds-font--caption">
                                                강남구대표후원단체에서올린글
                                            </p>
                                            <!---->
                                        </div>
                                        <p class="date">2025. 04. 02
                                        </p>
                                    </div>
                                </a>
                                <button type="button"
                                    class="button-follow mds-button mds-button--secondary mds-button--flex mds-button--h32 mds-button--r4">
                                    <span>팔로우</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="detail" style="--loader-top: 214px">
                        <div class="detail-inner container">
                            <div class="diary-container">
                                <div class="thumbnail-container"
                                    style="
                                            --background-image: url(https://happybean-phinf.pstatic.net/20250319_247/17423759512082zogH_JPEG/%EC%B9%98%EB%A3%8C_%EC%A4%91_%EC%98%A5%EC%83%81%EC%97%90%EC%84%9C_%EC%97%84%EB%A7%88%EC%99%80.jpeg);
                                        ">
                                    <span class="background"
                                        style="color: deeppink; text-align: center; font-size: 50px;">임시로
                                        넣어놓은 이미지</span>

                                </div>

                                <div class="reading-diary-container">
                                    <p class="title">여러분의 성원에 힘입어
                                        아이들에게 많은 책을 전달했습니다.</p>
                                    <p class="text-post">
                                        어린이날을 맞아 여러분들의 따뜻한 마음이 담긴 책이
                                        저희 센터에 잘 도착헀습니다<br>
                                        아이들이 책을 읽으며 즐거워하는 모습을 보며 함께
                                        기뻐해주세요!<br>
                                        여러분의 많은 관심에 감사드리며, 앞으로도 많은 관심
                                        주세요!
                                    </p>
                                </div>
                                <div class="images-container">
                                    <p class="title">이미지</p>
                                    <ul class="list">
                                        <li><img
                                                src="https://happybean-phinf.pstatic.net/20250319_247/17423759512082zogH_JPEG/%EC%B9%98%EB%A3%8C_%EC%A4%91_%EC%98%A5%EC%83%81%EC%97%90%EC%84%9C_%EC%97%84%EB%A7%88%EC%99%80.jpeg">
                                            <p class="text"> 후원대상 이미지
                                                1
                                            </p> <span
                                                class="nickname">ⓒ
                                                후원단체명</span>
                                        </li>
                                        <li><img
                                                src="https://happybean-phinf.pstatic.net/20250319_98/1742376246885hvkTB_JPEG/%EB%AA%A8%EA%B8%88%ED%95%A8_%EC%82%AC%EC%A7%84.jpg?type=w720">
                                            <p class="text"> 후원대상 이미지
                                                2
                                            </p> <span
                                                class="nickname">ⓒ
                                                후원단체명</span>
                                        </li>
                                        <li><img
                                                src="https://happybean-phinf.pstatic.net/20250319_208/1742376073512va7n0_JPEG/%EC%95%94%EC%9D%84_%EC%9D%B4%EA%B2%A8%EB%82%B4%EB%8A%94_%EC%9A%B8%ED%8A%B8%EB%9D%BC%EB%A7%A8.jpg?type=w720">
                                            <p class="text"> 후원대상 이미지
                                                3
                                            </p> <span
                                                class="nickname">ⓒ
                                                후원단체명</span>
                                        </li>
                                    </ul>

                                    <div class="full-image"
                                        style="display: none;">
                                        <div class="img-close"><i
                                                class="mds-icon--x"></i>
                                        </div>
                                        <img src="" alt="">
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <p class="view-autor mds-font--subhead01"
                    style="margin-bottom: 40px;">ⓒ 북적서울</p>

                <!---->

                <div class="meta">
                    <div class="meta-contents container">
                        <div class="top-row flex-container">
                            <div class="top-row-info">
                                <div class="owner flex-container">
                                    <a href="" class="owner-img"
                                        style="
                                                background-image: url('https://d3uz7kn1zskbbz.cloudfront.net/profile/ntruss/cffcc17f5c95881b480ff2e87187c0ea.png');
                                            "></a>
                                    <div class="owner-info">
                                        <h3 class="owner-name">
                                            <a href="">"가상의기부단체"님의
                                                게시글</a>
                                        </h3>
                                        <div class="owner-sub-count">
                                            <a href=""
                                                class="following">팔로잉<span>0</span></a>
                                            <a href=""
                                                class="follower">팔로워<span>15</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-row-btn">
                                <button type="button"
                                    class="mds-button mds-button--secondary mds-button--flex mds-button--h32 mds-button--r4">
                                    <span>팔로우</span>
                                </button>
                            </div>
                        </div>
                        <div class="post-card">
                            <a href="" class="post-card-before">
                                <div class="post-img">
                                    <div class="post-img-content">
                                        <div class="block-tool-book"
                                            style="
                                                    --background-image: url(https://img.millie.co.kr/200x/service/cover/179629201/1aaf5876839740a1a1a0db328f9c35d2.jpg);
                                                ">
                                            <div class="book-inner">
                                                <div
                                                    class="book-cover">
                                                    <div
                                                        class="book-thumb">
                                                        <img src="https://img.millie.co.kr/200x/service/cover/179629201/1aaf5876839740a1a1a0db328f9c35d2.jpg"
                                                            alt="작은 빛을 따라서"
                                                            class="book-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="prev-post"
                                    style="color: rgb(139, 139, 139)">
                                    이전글
                                </p>
                                <p class="post-author">아이들에겐 한 줄기 빛과도
                                    같은 도서</p>
                            </a>
                            <a href="/v3/post/1146335?nav_hidden=y"
                                class="post-card-after">
                                <div class="post-img">
                                    <div class="post-img-content">
                                        <div class="block-tool-book"
                                            style="
                                                    --background-image: url(https://img.millie.co.kr/200x/service/cover/180061007/998a7748131540c4bce8b6f526d9df36.jpg);
                                                ">
                                            <div class="book-inner">
                                                <div
                                                    class="book-cover">
                                                    <div
                                                        class="book-thumb">
                                                        <img src="https://img.millie.co.kr/200x/service/cover/180061007/998a7748131540c4bce8b6f526d9df36.jpg"
                                                            alt="간소한 삶에 관한 작은 책"
                                                            class="book-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="prev-post"
                                    style="color: rgb(139, 139, 139)">
                                    다음글
                                </p>
                                <p class="post-author">
                                    당신의 따스함을 나눠주세요!
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment-inner container">
                        <div class="register flex-container">
                            <div class="user-img" style="
                                        margin-right: 0px;
                                        background-image: url('https://d3uz7kn1zskbbz.cloudfront.net/profile/05ce9d4466834b948dc0c43e49f001a5.jpeg');
                                    "></div>
                            <div class="register-box">
                                <div class="register-box-inner">
                                    <span>댓글</span>
                                    <p contenteditable="plaintext-only"
                                        data-placeholder="내용 입력"></p>
                                </div>
                            </div>
                            <button type="button" disabled="disabled"
                                class="post-btn flex-container mds-button mds-button--secondary mds-button--flex mds-button--h56 mds-button--r4">
                                <span>등록</span>
                            </button>
                        </div>
                        <h3 class="comment-title">
                            댓글 <span
                                class="comment-title-length">0</span>
                        </h3>
                        <ul class="comment-list">
                            <li class="comment-item">
                                <div
                                    class="comment-item-inner flex-container">
                                    <div class="user-img" style="
                                                background-image: url('https://d3uz7kn1zskbbz.cloudfront.net/profile/05ce9d4466834b948dc0c43e49f001a5.jpeg');
                                            ">
                                        <a
                                            href="/v4/library/8942404"></a>
                                    </div>
                                    <div class="com-contents">
                                        <div
                                            class="com-contents-head">
                                            <div
                                                class="com-contents-top flex-container">
                                                <p class="nickname">
                                                    <a
                                                        href="#">북적북적한선술집</a>
                                                </p>
                                            </div>
                                            <span
                                                class="com-contents-date">2025.04.06</span>
                                        </div>
                                        <div
                                            class="com-contents-body">
                                            <p
                                                class="comment-text show">
                                                댓글은 혹시 몰라서 남겨둠
                                            </p>
                                            <div class="comment-text">
                                                <p
                                                    contenteditable="plaintext-only">
                                                    댓글은 혹시 몰라서 남겨둠
                                                </p>
                                                <button type="button"
                                                    class="mds-button mds-button--secondary mds-button--flex mds-button--h56 mds-button--r4">
                                                    <span>등록</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="reply-setting">
                                            <button type="button"
                                                class="more-btn">
                                                <img src="https://d3udu241ivsax2.cloudfront.net/v3/images/bookDetail/more-icon.df2e02aec2252c2847fbe9e490cd4354.png"
                                                    alt="더보기" />
                                            </button>
                                            <div class="more-area"
                                                style="display: none;">
                                                <button
                                                    type="button">답글달기</button>
                                                <button
                                                    type="button">신고하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reply-container">
                                    <ul class="reply-list">
                                        <li class="reply-item">
                                            <div
                                                class="reply-item-inner flex-container">
                                                <div class="user-img"
                                                    style="
                                                            background-image: url('https://d3uz7kn1zskbbz.cloudfront.net/profile/05ce9d4466834b948dc0c43e49f001a5.jpeg');
                                                        ">
                                                    <a
                                                        href="/v4/library/8942404"></a>
                                                </div>
                                                <div
                                                    class="com-contents">
                                                    <div
                                                        class="com-contents-head">
                                                        <div
                                                            class="com-contents-top">
                                                            <p
                                                                class="nickname">
                                                                <a
                                                                    href="#">북적북적한선술집</a>
                                                            </p>
                                                            <span
                                                                class="com-contents-date">2025.04.07</span>
                                                        </div>
                                                        <div
                                                            class="reply-setting">
                                                            <button
                                                                type="button"
                                                                class="more-btn">
                                                                <img src="https://d3udu241ivsax2.cloudfront.net/v3/images/bookDetail/more-icon.df2e02aec2252c2847fbe9e490cd4354.png"
                                                                    alt="더보기" />
                                                            </button>
                                                            <div class="more-area"
                                                                style="display: none;">
                                                                <button
                                                                    type="button">답글달기</button>
                                                                <button
                                                                    type="button">신고하기</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="com-contents-body">
                                                        <p
                                                            class="comment-text show">
                                                            답글도 혹시 몰라
                                                            남겨둠.
                                                        </p>
                                                        <div
                                                            class="comment-text">
                                                            <p
                                                                contenteditable="plaintext-only">
                                                                답글도 혹시
                                                                몰라
                                                                남겨둠.
                                                            </p>
                                                            <button
                                                                type="button"
                                                                class="mds-button mds-button--secondary mds-button--flex mds-button--h56 mds-button--r4">
                                                                <span>등록</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!---->
                            </li>
                        </ul>
                    </div>
                    <!---->
                    <!---->
                </div>
                <!---->
                <!---->
                <!---->
            </div>
        </section>
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
    </div>
</body>
<script src="/static/js/donation/donate_cert_post_event.js"></script>

</html>