<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>북적북적 | 후원대상 게시글 작성</title>
    <link rel="stylesheet" href="/css/donation/receiver_write.css">
    <link rel="stylesheet" href="/css/donation/feed_common.css">
    <link rel="shortcut icon" href="/images/admin/favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="wrap" class="web-mount pcv-mount" th:object="${post}"><!----> <!----> <!---->
        <section class="content">
            <form action="/post/receiver/edit-confirm" method="post" enctype="multipart/form-data" class="donate-form">
                <input type="hidden" name="postId" th:value="${post.id}">
                <div class="post-write write diary desktop">
                <div id="header" class="header diary">
                    <div class="header-inner">
                        <div class="header-left"><button type="button"
                                class="back-btn mds-button mds-button--primary mds-button--h56"><span><i
                                        class="mds-icon--arrow-left"></i></span></button> <!---->
                        </div>
                        <div class="header-right">
                            <div class="nav-btn"><!----> <button type="submit"
                                    class="btn publish-btn mds-font--body01 mds-button mds-button--secondary mds-button--flex mds-button--h32 mds-button--r4"><span>게시하기</span></button>
                            </div>
                        </div>
                        <!---->
                    </div> <!---->
                    <div class="mds-dialog unload-popup mds-dialog--open" style="display: none;">
                        <div class="mds-dialog--wrap">
                            <div class="mds-dialog--inner">
                                <div class="mds-dialog--header"><strong id="dialog-676-title">포스트 작성 중</strong> <!---->
                                </div>
                                <div class="mds-dialog--body">
                                    <p class="dialog-content">작성 중인 내용은 삭제됩니다.</p>
                                </div>
                            </div>
                            <div class="mds-dialog--footer"><button type="button"
                                    class="close mds-button mds-button--cancel mds-button--h56"><span>취소</span></button>
                                <button type="button"
                                    class="apply mds-button mds-button--danger mds-button--h56"><span>확인</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diary-container">

                    <div class="reading-diary component">
                        <p class="title">게시글 제목<em>*</em></p>
                        <div class="textarea">
                            <div class="mds-textarea mds-textarea--default">
                                <div class="inner">
                                    <label>
                                        <span class="label">게시글 제목 <!----></span>
                                        <textarea id="textarea-title"
                                            class="mds-textarea-field" name="title" th:text="${post.receiverTitle}"></textarea>
                                    </label>
                                    <div class="message-wrap"><!----> <span class="title-length length">0 / 100</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="title">게시글 내용<em>*</em></p>
                        <div class="textarea">
                            <div class="mds-textarea mds-textarea--default">
                                <div class="inner"><label><span class="label">게시글 내용 <!----></span> <textarea
                                            id="textarea-content"

                                            class="mds-textarea-field" name="content" th:text="${post.receiverText}"></textarea></label>
                                    <div class="message-wrap"><!----> <span class="content-length length">0 /
                                            2,000</span></div>
                                </div>
                            </div>
                        </div>
                    </div> <!---->
                    <div class="sentence component">
                        <div class="title flex">
                            이미지 추가
                            <p class="count"><strong>0</strong> <span>10개</span></p>
                        </div>
                        <input type="file" accept=".jpg, .png, .jpeg, .heic, .webp" multiple name="files[]"
                            class="input-file">
                        <div class="add-box">
                            <p>이 게시글에 추가할 이미지를 넣어보세요.<br>이미지당 최대 5MB까지 업로드 할 수
                                있습니다.</p> <button type="button"
                                class="button mds-button mds-button--secondary mds-button--h32 mds-button--r4"><span><svg
                                        width="17" height="16" viewBox="0 0 17 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9 4C9 3.72386 8.77614 3.5 8.5 3.5C8.22386 3.5 8 3.72386 8 4V7.5H4.5C4.22386 7.5 4 7.72386 4 8C4 8.27614 4.22386 8.5 4.5 8.5H8V12C8 12.2761 8.22386 12.5 8.5 12.5C8.77614 12.5 9 12.2761 9 12V8.5H12.5C12.7761 8.5 13 8.27614 13 8C13 7.72386 12.7761 7.5 12.5 7.5H9V4Z"
                                            fill="var(--ui-background)"></path>
                                    </svg>
                                    추가하기
                                </span></button>
                        </div>
                        <div class="images" style="">
                            <ul>
                                <li th:each="image : ${images}" th:data-existing-url="|/image/${image.filePath}/${image.fileName}|" th:data-id="${image.id}" class="item">
                                <img th:src="|/image/${image.filePath}/${image.fileName}|">
                                <div class="mds-input memo mds-input--default mds-input--left"><label>
                                    <div class="inner"><!---->
                                        <div class="input"><!----> <input autocomplete="off" id="input-64" aria-labelledby="input-64-label"
                                                                          aria-errormessage="input-64-message" type="text" placeholder="나만의 메모를 남겨보세요"
                                                                          class="mds-input-field"></div> <!----> <button type="button" aria-label="내용 삭제"
                                                                                                                         class="mds-icon--input-delete clear-button" style="display: none;"></button> <!----> <!---->
                                    </div>
                                </label>
                                    <div class="message-wrap"><!----> <span class="length">0 / 50</span></div> <!---->
                                </div>
                                <div class="buttons"><button type="button" class="new-add-button"><input type="file" multiple accept=".jpg, .png, .jpeg, .heic"  class="new-input-file" name="files[]">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_5831_19518)">
                                            <rect x="2.5" y="3.5" width="11" height="9" rx="1.5" stroke="var(--text-01)"></rect>
                                            <path
                                                    d="M4.7002 13.0003L8.81203 6.60709C9.16249 6.06219 9.93066 5.98928 10.3774 6.45852L13.7002 9.94887"
                                                    stroke="var(--text-01)"></path>
                                            <rect x="3.7998" y="5.35254" width="2.4" height="2.35294" rx="1.17647" stroke="var(--text-01)">
                                            </rect>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_5831_19518">
                                                <rect width="12" height="10" fill="white" transform="translate(2 3)"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    이미지 변경
                                </button> <button type="button" class="delete existing"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M6.5 1C5.67157 1 5 1.67157 5 2.5V3H3.5H2.5C2.22386 3 2 3.22386 2 3.5C2 3.77614 2.22386 4 2.5 4H3V12.5C3 13.8807 4.11929 15 5.5 15H10.5C11.8807 15 13 13.8807 13 12.5V4H13.5C13.7761 4 14 3.77614 14 3.5C14 3.22386 13.7761 3 13.5 3H12.5H11V2.5C11 1.67157 10.3284 1 9.5 1H6.5ZM10 3H6V2.5C6 2.22386 6.22386 2 6.5 2H9.5C9.77614 2 10 2.22386 10 2.5V3ZM4 12.5V4H5.5H10.5H12V12.5C12 13.3284 11.3284 14 10.5 14H5.5C4.67157 14 4 13.3284 4 12.5ZM6.5 6C6.5 5.72386 6.27614 5.5 6 5.5C5.72386 5.5 5.5 5.72386 5.5 6V12C5.5 12.2761 5.72386 12.5 6 12.5C6.27614 12.5 6.5 12.2761 6.5 12V6ZM8 5.5C8.27614 5.5 8.5 5.72386 8.5 6V12C8.5 12.2761 8.27614 12.5 8 12.5C7.72386 12.5 7.5 12.2761 7.5 12V6C7.5 5.72386 7.72386 5.5 8 5.5ZM10.5 6C10.5 5.72386 10.2761 5.5 10 5.5C9.72386 5.5 9.5 5.72386 9.5 6V12C9.5 12.2761 9.72386 12.5 10 12.5C10.2761 12.5 10.5 12.2761 10.5 12V6Z"
                                          fill="var(--danger)"></path>
                                </svg>
                                    삭제하기
                                </button></div>
                                </li>
                            </ul>
                            <button type="button"
                                class="add-button mds-button mds-button--secondary mds-button--line mds-button--h32 mds-button--r4"><span><svg
                                        width="17" height="16" viewBox="0 0 17 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9 4C9 3.72386 8.77614 3.5 8.5 3.5C8.22386 3.5 8 3.72386 8 4V7.5H4.5C4.22386 7.5 4 7.72386 4 8C4 8.27614 4.22386 8.5 4.5 8.5H8V12C8 12.2761 8.22386 12.5 8.5 12.5C8.77614 12.5 9 12.2761 9 12V8.5H12.5C12.7761 8.5 13 8.27614 13 8C13 7.72386 12.7761 7.5 12.5 7.5H9V4Z"
                                            fill="var(--secondary)"></path>
                                    </svg>
                                    추가하기
                                </span></button>
                        </div>
                    </div>
                </div> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
            </div>
            </form>
        </section> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
    </div>
</body>
<script src="/js/donation/receiver_edit.js"></script>

</html>