<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>서비스 소개 | 북적서울</title>
        <link
            rel="shortcut icon"
            href="/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/css/main/global-settings.css" />
        <link rel="stylesheet" href="/css/main/index.css" />
    </head>
    <body>
        <div id="wrap" class="web-mount pcv-mount">
            <section class="content">
                <div class="font-pretendard service-frame brand-frm">
                    <!-- 헤더 영역 -->
                    <header class="header-section">
                        <div class="header-wrap">
                            <h1 class="logo">
                                <img
                                    src="/images/common/Logo.png"
                                    alt="북적서울 로고"
                                    style="scale: 2.2"
                                />
                            </h1>
                            <div class="nav-box">
                                <button type="button" onclick="goToLogin()" class="brand-login">로그인</button>
                            </div>
                        </div>
                    </header>
                    <!-- // 헤더 영역 -->
                    <!-- 최상단 이미지 -->
                    <section id="visual" class="keyvisual-frm">
                        <div class="keyvisual-box">
                            <div class="keyvisual-blk">
                                <p class="txt-blk fade-in-item">
                                    독서로
                                    <br />
                                    따뜻한 나눔을,
                                    <br />
                                    북적서울
                                </p>
                            </div>
                            <div class="img-container">
                                <img
                                    src="/images/main/index-main.png"
                                />
                            </div>
                        </div>
                    </section>
                    <!-- // 최상단 이미지 -->
                    <!-- 상단 이미지 -->
                    <section id="tvc" class="tvc-frm section-frm">
                        <div class="section-inner">
                            <div class="tvc-header">
                                <h3>
                                    나부터 이웃까지,
                                    <br />
                                    독서의 감상을 나누다
                                </h3>
                                <p>북적이는 마음 속 이야기를 세상과 나누세요</p>
                            </div>
                            <div class="tvc-content">
                                <div class="video-player-frm">
                                    <div class="video-controls-overlay"></div>
                                    <img
                                        src="/images/main/index2.jpg"
                                    />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- // 상단 이미지 -->
                    <!-- ai 주제 소개 -->
                    <section id="tts" class="tts-section section-frm">
                        <div class="section-inner">
                            <div class="section-header fade-in-item observed">
                                <h3 class="fade-up fade-delay-0">
                                    <img
                                        src="/images/main/chatgpt-icon.png"
                                        class="ico-blk"
                                    />
                                    <b>
                                        어떤 책이든
                                        <br />
                                        GPT가 주는 주제로
                                        <br />
                                        함께 깊게 토론하기
                                    </b>
                                    생각을 나누며 더 넓어지는
                                    <br />
                                    북적서울의 독서 토론방
                                </h3>
                            </div>
                            <div
                                class="tts-content section-content fade-up fade-delay-1"
                            >
                                <div
                                    class="image-container fade-in-item observed"
                                >
                                    <img
                                        src="/images/main/gpt-discussion.png"
                                        class="img-bg"
                                    />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- // ai 주제 소개 -->
                    <!-- 도서 나눔 소개 -->
                    <section id="share" class="tts-section section-frm">
                        <div class="section-inner">
                            <div
                                class="tts-content section-content fade-up fade-delay-1"
                            >
                                <div
                                    class="image-container fade-in-item observed"
                                >
                                    <img
                                        src="/images/main/index3.jpg"
                                        class="img-bg"
                                    />
                                </div>
                            </div>
                            <div class="section-header fade-in-item observed">
                                <h3 class="fade-up fade-delay-0">
                                    <img
                                        src="/images/main/book-pile.png"
                                        class="ico-blk"
                                    />
                                    <b>
                                        나의 도서를
                                        <br />
                                        근처 이웃들에게
                                        <br />
                                        직접 전달해주기
                                    </b>
                                    내가 기부한 도서가
                                    <br />
                                    독서가 어려운 이웃에게 가요
                                </h3>
                            </div>
                        </div>
                    </section>
                    <!-- // 도서 나눔 소개 -->
                    <!-- 푸터 -->
                    <section id="footer">
                        <footer>
                            <div class="footer-inner">
                                <div class="footer-head">
                                    <h1 style="transform: translateY(30px)">
                                        북적서울
                                    </h1>
                                    <img
                                        src="/images/common/Logo.png"
                                        style="scale: 0.5; opacity: 0.5"
                                    />
                                </div>
                                <p
                                    class="copyright"
                                    style="transform: translateY(-20px)"
                                >
                                    2025. 허세웅, 김승균, 한지수
                                </p>
                                <a href="admin/login">관리자 로그인</a>
                            </div>
                        </footer>
                    </section>
                    <!-- // 푸터 -->
                    <!-- 떠있는 버튼 -->
                    <button type="button" onclick="goToLogin()" class="float-btn">
                        <span class="txt-blk">
                            <svg
                                data-v-6ade862c=""
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="24"
                                viewBox="0 0 25 24"
                                fill="none"
                            >
                                <path
                                    data-v-6ade862c=""
                                    d="M12.5 6.61538L10.3667 5H4.5V17.3846H10.3667L12.5 19M12.5 6.61538L14.6333 5H20.5V17.3846H14.6333L12.5 19M12.5 6.61538V19"
                                    stroke="black"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>
                            회원가입하고 북적북적 시작하기
                        </span>
                    </button>
                    <!-- // 떠있는 버튼 -->
                </div>
            </section>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const message = "[[${message}]]";
            if (message) {
                alert(message);
            }
        });
    </script>
    <script src="/js/main/index.js"></script>
</html>
