<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>단체 비밀번호찾기 | 북적북적</title>
        <link
            rel="stylesheet"
            href="../../static/css/login/findpasswd-sponsor.css"
        />
    </head>
    <body>
        <!-- 로그인 하는 영역 -->
        <div class="login-container">
            <div class="login-content">
                <h1 class="title">비밀번호 찾기</h1>
                <p class="sub-title">계정 정보를 입력해주세요</p>
                <div class="certificate-area">
                    <!-- 휴대폰 번호 인증 -->
                    <a href="" class="cert-btn">
                        <svg
                            data-v-2363534c=""
                            width="25"
                            height="24"
                            viewBox="0 0 25 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <rect
                                data-v-2363534c=""
                                x="6.5"
                                y="2"
                                width="12"
                                height="20"
                                rx="2"
                                stroke="#8B8B8B"
                                style="
                                    stroke: color(
                                        display-p3 0.5451 0.5451 0.5451
                                    );
                                    stroke-opacity: 1;
                                "
                            ></rect>
                            <rect
                                data-v-2363534c=""
                                x="10.5"
                                y="4"
                                width="4"
                                height="1"
                                rx="0.5"
                                fill="#8B8B8B"
                                style="
                                    fill: color(
                                        display-p3 0.5451 0.5451 0.5451
                                    );
                                    fill-opacity: 1;
                                "
                            ></rect>
                        </svg>
                        휴대폰 번호 인증
                    </a>
                    <!-- 이메일 인증버튼  -->
                    <a href="" class="cert-btn">
                        <svg
                            data-v-2363534c=""
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                data-v-2363534c=""
                                d="M4 9.24C4 8.08213 4 7.5032 4.23247 7.06414C4.42007 6.70983 4.70983 6.42007 5.06414 6.23247C5.5032 6 6.08213 6 7.24 6H16.76C17.9179 6 18.4968 6 18.9359 6.23247C19.2902 6.42007 19.5799 6.70983 19.7675 7.06414C20 7.5032 20 8.08213 20 9.24V14.76C20 15.9179 20 16.4968 19.7675 16.9359C19.5799 17.2902 19.2902 17.5799 18.9359 17.7675C18.4968 18 17.9179 18 16.76 18H7.24C6.08213 18 5.5032 18 5.06414 17.7675C4.70983 17.5799 4.42007 17.2902 4.23247 16.9359C4 16.4968 4 15.9179 4 14.76V9.24Z"
                                stroke="#8B8B8B"
                                style="
                                    stroke: color(
                                        display-p3 0.5451 0.5451 0.5451
                                    );
                                    stroke-opacity: 1;
                                "
                            ></path>
                            <path
                                data-v-2363534c=""
                                d="M4 9L10.94 13.3375C11.5885 13.7428 12.4115 13.7428 13.06 13.3375L20 9"
                                stroke="#8B8B8B"
                                style="
                                    stroke: color(
                                        display-p3 0.5451 0.5451 0.5451
                                    );
                                    stroke-opacity: 1;
                                "
                            ></path>
                        </svg>
                        이메일 인증
                    </a>
                </div>
                <!-- 아래 그냥 메세지 -->
                <p class="find-passwd-p">
                    비밀번호 찾기는 일부 기업만 이용 가능합니다.
                </p>
            </div>
        </div>
    </body>
    <script src="../../static/js/login/findpasswd-sponsor.js"></script>
</html>
