<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인 | 북적북적</title>
        <link rel="stylesheet" href="/css/login/login.css" />
    </head>
    <body>
        <!-- 로그인 하는 영역 -->
        <div class="login-container">
            <div class="login-content">
                <h3 class="title">독서와 친해지면 지혜가 늘어나요</h3>
                <p class="sub-title">책을 읽고 지식 뿜뿜!</p>
                    <!-- 아이디 입력란 -->
                <form action="/personal/login-check" method="post" id="login-form">
                    <div class="input-item">
                        <div class="bjs-input-id">
                            <label class="input-label-id">
                                <div class="inner">
                                    <div class="input">
                                        <span class="input-id-label">이메일</span>
                                        <input
                                            autocomplete="off"
                                            type="text"
                                            name="memberEmail"
                                            id="bjs-id"
                                            placeholder="이메일를 입력해주세요."
                                            style="outline: none; border: none"
                                        />
                                    </div>
                                    <button
                                        type="button"
                                        id="clear-button-id"
                                    ></button>
                                </div>
                            </label>
                        </div>
                    </div>
                    <!-- 비밀번호 입력란 -->
                    <div class="input-item">
                        <div class="bjs-input-pw">
                            <label class="input-label-pw">
                                <div class="inner">
                                    <div class="input">
                                        <span class="input-pw-label">비밀번호</span>
                                        <input
                                            autocomplete="off"
                                            type="password"
                                            name="memberPassword"
                                            id="bjs-pw"
                                            placeholder="비밀번호를 입력해주세요."
                                            style="outline: none; border: none"
                                        />
                                    </div>
                                    <button
                                        type="button"
                                        id="clear-button-pw"
                                    ></button>
                                </div>
                            </label>
                        </div>
                    </div>
                </form>
                <!-- 로그인 버튼 -->
                <div class="login-btn-area">
                    <button type="button" id="login-btn">
                        <span class="login-btn-tag">로그인</span>
                    </button>
                </div>
                <!-- 회원가입 / ID/PW찾기 / 기업회원 로그인 -->
                <ul class="login-sub-menu">
                    <li>
                        <a href="/personal/register-member">회원가입</a>
                    </li>
                    <li>
                        <a href="/personal/login/findpasswd-member">PW찾기</a>
                    </li>
                    <li>
                        <a href="/personal/login/sponsorship">기업회원 로그인</a>
                    </li>
                </ul>
                <!-- 또는 라인 -->
                <div class="or-line">
                    <p>또는</p>
                </div>
                <!-- 카카오 로그인 -->
                <div class="kakao-login-wrap">
                    <a class="kakao-login">
                        <img
                            src="/images/login/kakao_login/ko/kakao_login_medium_wide.png"
                        />
                    </a>
                </div>
            </div>
        </div>
        <!-- 로그인 fail 모달 -->
        <div id="modal">
            <div id="modal-wrap">
                <div class="modal-inner">
                    <div class="modal-header">
                        <strong>로그인 실패</strong>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>아이디 또는 비밀번호를 확인해주세요</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button>
                        <span>확인</span>
                    </button>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/login/login-event.js"></script>
</html>
