<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>단체로그인 | 북적북적</title>
        <link rel="stylesheet" href="../../static/css/login/sopnsorship.css" />
    </head>
    <body>
        <!-- 로그인 하는 영역 -->
        <div class="login-container">
            <div class="login-content">
                <h1 class="title">밀리의 서재<br>기업회원 로그인</h3>
                <!-- 아이디 입력란 -->
                <div class="input-item id">
                    <div class="bjs-input-id">
                        <label class="input-label-id">
                            <div class="inner">
                                <div class="input">
                                    <span class="input-id-label">기업회원 아이디</span>
                                    <input
                                        autocomplete="off"
                                        type="text"
                                        name=""
                                        id="bjs-id"
                                        placeholder="아이디 입력."
                                        style="outline: none; border: none"
                                    />
                                </div>
                                <button
                                    type="button"
                                    id="clear-button-id"
                                ></button>
                            </div>
                        </label>
                    </div>
                </div>
                <!-- 비밀번호 입력란 -->
                <div class="input-item">
                    <div class="bjs-input-pw">
                        <label class="input-label-pw">
                            <div class="inner">
                                <div class="input">
                                    <span class="input-pw-label">비밀번호</span>
                                    <input
                                        autocomplete="off"
                                        type="password"
                                        name=""
                                        id="bjs-pw"
                                        placeholder="비밀번호를 입력해주세요."
                                        style="outline: none; border: none"
                                    />
                                </div>
                                <button
                                    type="button"
                                    id="clear-button-pw"
                                ></button>
                            </div>
                        </label>
                    </div>
                </div>
                <!-- 로그인 버튼 -->
                <div class="login-btn-area">
                    <button id="login-btn">
                        <span class="login-btn-tag">로그인</span>
                    </button>
                </div>
                <!-- 비밀번호 분실 a태그 -->
                <p class="find-passwd-p">비밀번호를 분실하셧나요?
                    <a href="">비밀번호찾기</a>
                </p>
            </div>
        </div>

        <!-- 로그인 fail 모달 -->
        <div id="modal">
            <div id="modal-wrap">
                <div class="modal-inner">
                    <div class="modal-header">
                        <strong>로그인 실패</strong>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>아이디 또는 비밀번호를 확인해주세요</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button>
                        <span>확인</span>
                    </button>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/login/sponsorship.js"></script>
</html>
