@font-face {
    font-family: SpoqaHanSansNeo;
    font-weight: 300;
    src: url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/SpoqaHanSansNeo-Thin.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/SpoqaHanSansNeo-Thin.woff) format("woff")
}

@font-face {
    font-family: SpoqaHanSansNeo;
    font-weight: 500;
    src: url(../../fonts/main/SpoqaHanSansNeo-Regular.ttf) format("truetype");
}

@font-face {
    font-family: SpoqaHanSansNeo;
    font-weight: 900;
    src: url(../../fonts/main/SpoqaHanSansNeo-Bold.ttf) format("truetype");
}

@font-face {
    font-family: icon;
    src: url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/mds-icon-v9.woff2) format("woff"),url(https://d3udu241ivsax2.cloudfront.net/common/mds/fonts/mds-icon-v9.woff) format("woff2");
    font-display: block
}

@font-face {
    font-family: Pretendard;
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Black.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Black.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-ExtraBold.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-ExtraBold.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Bold.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Bold.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-SemiBold.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-SemiBold.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Medium.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Medium.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Regular.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Regular.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Light.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Light.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-ExtraLight.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-ExtraLight.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Thin.subset.woff2) format("woff2"),url(https://d3udu241ivsax2.cloudfront.net/common/css_v3/fonts/Pretendard-Thin.subset.woff) format("woff")
}

@font-face {
    font-family: fontello;
    src: url(../../fonts/post/fontello.woff) format("woff");
}

:root {
    --header-width: 1440px;
    --back-width: 1440px;
    --library-sub-width: 1440px;
    --library-sub-small-width: 600px;
}

:root {
    --swiper-theme-color: #007aff;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
    line-height: 1.3;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-width: 320px;
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    font-size: 14px;
    color: var(--text-01);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--ui-background);
}

body {
    --header-width: 1440px;
    --today-width: 1440px;
    --search-width: 1440px;
    --feed-width: 1440px;
    --library-width: 1440px;
    --management-width: 600px;
    --ai-agent-width: 1000px;
    --book-detail-width: 1440px;
    --audio-detail-width: 1440px;
    --depth-width: 1440px;
    --footer-width: 1440px;
    --inner-width: 1280px;
    --middle-width: 700px;
    --road-detail-width: 1440px;
    --happy-max-width: 600px;
    --customer-width: 1440px;
}

body, body[data-theme=dark], body[data-theme=dark] .not-dark, body[data-theme=light] {
    --ui-background: #fff;
    --ui-01: #fbfbfb;
    --ui-02: #f7f7f7;
    --ui-03: #f2f2f2;
    --ui-04: #efefef;
    --ui-05: #ececec;
    --ui-06: #dfdfdf;
    --ui-07: #c1c1c1;
    --ui-08: #555;
    --ui-09: #333;
    --ui-10: #242424;
    --ui-up: #fff;
    --ui-up-01: #fff;
    --ui-up-02: #fff;
    --ui-up-03: #fff;
    --ui-up-04: #fff;
    --primary: #96ea77;
    --primary-press: #96ea77;
    --secondary: #333;
    --secondary-press: #242424;
    --tertiary: #fff;
    --tertiary-press: #f7f7f7;
    --danger: #df1d1d;
    --danger-press: #bc1a1a;
    --quaternary: #ececec;
    --quaternary-press: #dfdfdf;
    --cancel: #c1c1c1;
    --cancel-press: #a5a5a5;
    --success: #0073cb;
    --error: #f05c2e;
    --text-strong: #000;
    --text-01: #242424;
    --text-02: #555;
    --text-03: #6f6f6f;
    --text-04: #8b8b8b;
    --field-readonly: #ececec;
    --placeholder: #c1c1c1;
    --audio: #a451f7;
    --myaudio: #533670;
    --focus: #469fe3;
    --Line-01: #dfdfdf;
    --Line-02: #ececec;
    --Line-03: #f7f7f7;
}

body, body[data-theme=dark], body[data-theme=dark] .not-dark, body[data-theme=light] {
    --chatbook: #eb683f;
    --GTrans-01: rgba(176, 179, 188, 0.1);
    --GTrans-02: rgba(176, 179, 188, 0.3);
    --GTrans-03: rgba(176, 179, 188, 0.5);
    --GTrans-04: rgba(176, 179, 188, 0.7);
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}

a {
    text-decoration: none;
    
}

a, button, img {
    -webkit-user-drag: none;
}

a,
a:visited,
a:hover,
a:active {
    color: var(--text-02);
    text-decoration: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

[type=email], [type=number], [type=password], [type=tel], [type=text] {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}