#wrap {
    height: 100%;
}

.bg-sub-inner {
    padding-bottom: 48px;
}

.bg-sub-inner .back-component {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 15;
    background: #fff;
}

.back-component {
    height: 48px;
    background: var(--ui-background);
}

.back-component.border-hidden {
    border: none!important;
}

.back-component .back {
    position: relative;
    max-width: var(--header-width);
    margin: 0 auto;
    height: 48px;
}

.back-component .back .close-button {
    position: absolute;
    left: 12px;
    top: 50%;
    width: 24px;
    height: 24px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.back-component .back .close-button {
    display: none;
}

.bgroad-button-list, .web-mount .back-component .close-button, .web-mount .back-component.pc-hidden {
    display: none;
}

.back-component i[class^=mds-icon-] {
    font-size: 28px;
    font-weight: 700;
    line-height: 23px;
    color: var(--text-01);
}

.back-component .back h2 {
    overflow: hidden;
    padding: 0 45px;
    font-size: 18px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 48px;
    color: var(--text-01);
}

.alarm-center-container .alarm-tabs {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 44px;
    background-color: var(--ui-background);
    border-bottom: 1px solid var(--ui-05);
}

.alarm-center-container .alarm-tabs .tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.alarm-center-container .alarm-tabs .tabs button {
    padding: 10px 12px;
    text-align: center;
    background-color: var(--ui-background);
    line-height: 1.6;
    font-size: 16px;
}

.alarm-center-container .alarm-tabs .tabs button span {
    position: relative;
}

.alarm-center-container .alarm-tabs .tabs button.active {
    font-weight: 700;
    color: var(--text-01);
    position: relative;
}


.alarm-center-container .alarm-list-container {
    max-width: var(--depth-width);
    margin: 0 auto;
}

.alarm-center-container .alarm-list-container .notice-content li {
    border-bottom: 1px solid var(--ui-03);
}

.alarm-center-container .alarm-list-container .notice-content li dl dt {
    position: relative;
}

.alarm-center-container .alarm-list-container .notice-content li dl dt button {
    width: 100%;
    padding: 25px 44px 25px 24px;
    text-align: left;
}

.alarm-center-container .alarm-list-container .notice-content li dl dt .badge {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4px;
}

.alarm-center-container .alarm-list-container .notice-content li dl dt .badge .category {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 22px;
    padding: 0 9px;
    border: 1px solid var(--ui-09);
    border-radius: 20px;
    font-weight: 700;
    font-size: 12px;
    color: var(--text-01);
}

.alarm-center-container .alarm-list-container .notice-content li dl dt .badge>:first-child {
    margin-right: 4px;
}

.alarm-center-container .alarm-list-container .notice-content li dl dt .title {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.alarm-center-container .alarm-list-container .notice-content li dl dt .date {
    display: block;
    margin-top: 4px;
    color: var(--text-04);
    font-size: 12px;
}

.alarm-center-container .alarm-list-container .notice-content li dl dt:after {
    position: absolute;
    right: 20px;
    top: 50%;
    content: "";
    content: "\e806";
    font-family: icon;
    font-size: 24px;
    color: var(--text-03);
    -webkit-transform: translateY(-50%) rotateX(180deg);
    transform: translateY(-50%) rotateX(180deg);
    pointer-events: none;
}

.alarm-center-container .alarm-list-container .notice-content li dl dd {
    display: none;
    background-color: var(--ui-02);
    padding: 20px 24px;
    color: var(--ui-10);
    font-size: 14px;
    line-height: 24px;
}

.alarm-center-container .alarm-list-container .notice-content li.open dl dd {
    display: block;
}

.alarm-center-container .alarm-list-container .notice-content li dl dd .content {
    word-break: break-all;
}

/*  이벤트 섹션 */
.alarm-center-container .alarm-list-container .event-content ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 16px 16px 32px;
}

.mds-shadow--card02 {
    box-shadow: 2px 2px 20px rgba(0,0,0,.06),2px 2px 10px rgba(0,0,0,.04);
}

.alarm-center-container .alarm-list-container .event-content ul li {
    overflow: hidden;
    width: calc(33.3% - 16px);
    margin: 8px;
    border-radius: 12px;
}

.alarm-center-container .alarm-list-container .event-content ul li .img {
    padding-top: 56.25%;
    height: 0;
    position: relative;
}

.alarm-center-container .alarm-list-container .event-content .close-event ul li .context, .alarm-center-container .alarm-list-container .event-content .close-event ul li .img {
    opacity: .3;
}

.alarm-center-container .alarm-list-container .event-content ul li .img img {
    position: absolute;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.alarm-center-container .alarm-list-container .event-content ul li .context {
    padding: 16px 16px 20px;
    background-color: var(--ui-up-01);
}

.alarm-center-container .alarm-list-container .event-content ul li .context .title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.alarm-center-container .alarm-list-container .event-content ul li .context .title span {
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.alarm-center-container .alarm-list-container .event-content ul li .context .sub-title {
    padding-top: 8px;
    color: var(--text-03);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-height: 3.4em;
}

.alarm-center-container .alarm-list-container .event-content ul li .context .date {
    display: block;
    margin-top: 8px;
    color: var(--text-04);
}

.mds-font--subhead03 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.mds-font--body01 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.mds-font--caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

img {
    max-width: 100%;
    vertical-align: top;
    border-style: none;
    pointer-events: none;
}

.alarm-center-container .alarm-list-container .event-content .close-event {
    padding: 16px;
    border-top: 8px solid var(--GTrans-01);
}

.alarm-center-container .alarm-list-container .event-content .close-event h4 {
    margin: 8px 0 12px 6px;
    font-weight: 400;
    font-weight: 700;
}

.alarm-center-container .alarm-list-container .event-content ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 16px 16px 32px;
}

.alarm-center-container .alarm-list-container .event-content .close-event ul {
    padding: 0;
}

.selected {
    border-bottom : 3px solid black;
}