<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.AdminMapper">
    <!--관리자 로그인-->
    <select id="selectLoginAdmin" resultType="AdminVO">
        select id, admin_id, admin_password, admin_name, admin_department, admin_status, admin_grade
        from tbl_admin
        where admin_id = #{adminId} and admin_password = #{adminPassword}
    </select>
</mapper>