<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.AlarmMapper">


    <!--슈퍼키 등록-->
    <insert id="insertAlarm" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_alarm (alarm_receiver_id, alarm_type)
        values (#{alarmReceiverId}, #{alarmType})
    </insert>


    <!--내가 작성한 게시글댓글알람 등록-->
    <insert id="insertCommentAlarm">
        insert into tbl_comment_alarm(id, comment_id)
        values (#{id}, #{commentId})
    </insert>


    <!--누군가 맨션알람-->
    <insert id="insertMentionAlarm">
        insert into tbl_comment_metion_alarm (id, comment_id, mentioned_member_id)
        values (#{id}, #{commentId}, #{mentionMemberId})
    </insert>


    <!--팔로잉한사람의 게시글 알림-->
    <insert id="insertPostAlarm">
        insert into tbl_post_alarm (id, post_id)
        values (#{id}, #{postId})
    </insert>


    <!--팔로우 한사람-->
    <insert id="insertFollowAlarm">
        insert into tbl_follow_alarm (id, alarm_sender_id)
        values (#{id}, #{alarmSenderId})
    </insert>


    <!--안읽은 알림의 개수 표시-->
    <select id="selectAlarmCount" resultType="int">
        select COUNT(*)
        from tbl_alarm
        where alarm_status = 'unread' and alarm_receiver_id = #{receiverID}
    </select>


    <!--읽음 표시-->
    <update id="updateAlarmRead">
        update tbl_alarm
        set alarm_status = 'READ'
        where id = #{id}
    </update>


    <!--게시글에 댓글 조회-->
    <select id="selectCommentAlarm" resultType="alarmCommentAlarmDTO">
        select c.post_id
        from tbl_alarm a
            join tbl_comment_alarm ca
                    on a.id = ca.id
            join tbl_comment c
                    on ca.comment_id = c.id
        where alarm_receiver_id = #{alarmReceiverId}
    </select>



    <!--팔로우한사람의 게시글 조회-->
    <select id="selectPostAlarms" resultType="postAlarmPersonalMemberDTO">
        select post_id, member_nickname
        from tbl_alarm a
                 JOIN tbl_post_alarm pa ON a.id = pa.id
                 JOIN tbl_post p ON pa.post_id = p.id
                 join tbl_personal_member pm on p.member_id = pm.id
                 join tbl_follow f on f.follow_receiver_id = p.member_id
        WHERE a.alarm_receiver_id = #{alarmReceiverId}
    </select>


    <!--팔로우 조회-->
    <select id="selectFollowAlarms" resultType="alarmFollowAlarmDTO">
        select alarm_sender_id, member_nickname, file_path
        from tbl_alarm a join tbl_follow_alarm fa
        join tbl_personal_member pm
        on fa.alarm_sender_id = pm.id
        join tbl_member_profile mp
        on pm.id=mp.member_id
        join tbl_file f
        on f.id = mp.id
        where alarm_receiver_id = #{alarmReceiverId}
    </select>


    <!--멘션 조회-->
    <select id="selectMention" resultType="alarmMentionAlarmDTO">
        select c.post_id
        from tbl_alarm a join tbl_comment_metion_alarm cma
        on a.id = cma.id
        join tbl_comment c
        on cma.comment_id = c.id
        where alarm_receiver_id = #{alarmReceiverId}
    </select>
</mapper>