<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.BookMapper">
    <!-- 도서 임시 선정 -->
    <insert id="insertTempSelectedBook">
        insert into tbl_selected_book_temp (book_isbn)
        values (${isbn});
    </insert>
    <select id="selectTempSelectedBook" resultType="tempSelectedBookVO">
        select *
        from tbl_selected_book_temp
    </select>

    <insert id="insertSelectedBook">
        insert into tbl_selected_book (book_isbn, book_image_url)
        values (${bookIsbn}, ${bookImageUrl})
    </insert>


    <!--인기도서 최다조회-->
    <select id="selectTopViewBook" resultType="memberHistoryVO">
        SELECT book_isbn,count(*) as count
        FROM tbl_member_history
        GROUP BY book_isbn
        order by count desc
        LIMIT 10;
    </select>


    <!--관리자 추천 도서-->
    <select id="selectAdminSuggestBooks" resultType="selectedBookVO">
        select id, book_isbn, book_image_url, createdDate, updatedDate
        from tbl_selected_book
    </select>
</mapper>