<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.BookMapper">
    <!-- 도서 임시 선정 -->
    <insert id="insertTempSelectedBook">
        insert into tbl_selected_book_temp (book_isbn)
        values (${isbn});
    </insert>
    <select id="selectTempSelectedBook" resultType="tempSelectedBookVO">
        select *
        from tbl_selected_book_temp
    </select>

    <insert id="insertSelectedBook">
        insert into tbl_selected_book (book_isbn, book_image_url)
        values (${bookIsbn}, ${bookImageUrl})
    </insert>


    <!--인기도서 최다조회-->
    <select id="selectTopViewBook" resultType="memberHistoryVO">
        SELECT  id, member_id, book_isbn, count(*) as count
        FROM tbl_member_history
        GROUP BY book_isbn
        order by count desc
        LIMIT 10;
    </select>


    <!--관리자 추천 도서-->
    <select id="selectAdminSuggestBooks" resultType="selectedBookVO">
        select id, book_isbn, book_image_url, createdDate, updatedDate
        from tbl_selected_book
        LIMIT 6
    </select>


    <!--인기독후감 도서-->
    <select id="selectTopBookPost" resultType="bookPostVO">
        select  member_id, book_post_title, book_isbn, count(*) as count
        from tbl_book_post_like bpl
        join tbl_book_post bp
        on bpl.book_post_id = bp.id
        group by book_isbn
        order by count desc
        limit 10
    </select>

    <!--  선정 도서 여부 조회  -->
    <select id="selectSelectedBooks" resultType="_int">
        select count(*) from tbl_selected_book
        where book_isbn = #{bookIsbn}
    </select>


</mapper>