<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.FavoriteMapper">
    <!--  책 찜(스크랩)하기  -->
    <insert id="insertBookScrap">
        insert into tbl_book_like (member_id, book_isbn)
        values (#{memberId}, #{bookIsbn})
    </insert>

    <!--  중복 insert 방지위해 그 멤버의 스크랩 여부 조회  -->
    <select id="isBookScrapped" resultType="_int">
        select count(*) from tbl_book_like
        where book_isbn = #{bookIsbn} and member_id = #{memberId}
    </select>

    <!--  특정 책의 스크랩 개수 조회  -->
    <select id="selectThisScrapCount" resultType="_int">
        select count(*) from tbl_book_like
        where book_isbn = #{bookIsbn}
    </select>

    <!--  책 스크랩 취소  -->
    <delete id="deleteBookScrap">
        delete from tbl_book_like
        where member_id = #{memberId} and book_isbn = #{bookIsbn}
    </delete>


    <!-- 후원 대상 투표 집계 -->
    <select id="receiverVote" resultType="_int">
        select ifnull(sum(receiver_like_point),0)
        from tbl_receiver_like
        where receiver_id = #{receiverId}
    </select>

    <!--투표 결과 1등.-->
    <select id="topReceiver" resultType="_Long">
        select receiver_id
        from tbl_receiver_like
        group by receiver_id
        order by sum(receiver_like_point) desc
        limit 1

    </select>

    <!-- 투표 결과 저장-->
    <insert id="voteToReceiver">
        insert into tbl_receiver_like (receiver_id, member_id, receiver_like_point)
        values (#{receiverId}, #{memberId}, #{receiverLikePoint})
    </insert>

    <!-- 투표 시 카운트 저장-->
    <update id="updateVoteCount">
        update tbl_receiver
        set receiver_vote_count = receiver_vote_count + #{receiverLikePoint}
    </update>

    <!--단일 투표 결과 조회-->
    <select id="selectReceiverVote" resultType="_int">
        select receiver_like_point
        from tbl_receiver_like
        where member_id = #{memberId} and receiver_id = #{receiverId}
    </select>


    <!--  독후감 좋아요하기  -->
    <insert id="insertBookPostLike">
        insert into tbl_book_post_like (member_id, book_post_id)
        values (#{memberId}, #{bookPostId})
    </insert>

    <!--  특정 독후감의 내 좋아요 여부 조회  -->
    <select id="isBookPostLiked" resultType="_int">
        select count(*)
        from tbl_book_post_like
        where member_id = #{memberId} and book_post_id = #{bookPostId}
    </select>

    <!--  독후감 좋아요 취소하기  -->
    <delete id="deleteBookPostLike">
        delete from tbl_book_post_like
        where member_id = #{memberId} and book_post_id = #{bookPostId}
    </delete>

    <!--  특정 회원 팔로우하기  -->
    <insert id="insertMemberFollow">
        insert into tbl_follow (follow_receiver_id, follow_sender_id)
        values (#{receiverId}, #{senderId})
    </insert>

    <!--  내 특정 회원 팔로우여부 조회  -->
    <select id="isMemberFollowed" resultType="_int">
        select count(*)
        from tbl_follow
        where follow_receiver_id = #{receiverId} and follow_sender_id = #{senderId}
    </select>

    <!--  팔로우 취소  -->
    <delete id="deleteMemberFollow">
        delete from tbl_follow
        where follow_receiver_id = #{receiverId} and follow_sender_id = #{senderId}
    </delete>

</mapper>