<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.FileMapper">
    <insert id="insertFile" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_file (file_name, file_path, file_text)
        values (#{fileName}, #{filePath}, #{fileText})
    </insert>
    <insert id="insertDonateCertFile">
        insert into tbl_donate_cert_file (id, donate_cert_id)
        values (#{id}, #{donateCertId})
    </insert>
    <select id="selectDonateCertFileByPostId" resultType="fileVO">
        select f.id, file_name, file_path, file_text, donate_cert_id
        from tbl_file f
        join tbl_donate_cert_file dc
        on f.id = dc.id
        where donate_cert_id = #{postId}
        order by f.id
        limit 1
    </select>

    <select id="selectDonateCertFilesByPostId" resultType="fileVO">
        select f.id, file_name, file_path, file_text, donate_cert_id
        from tbl_file f
                 join tbl_donate_cert_file dc
                      on f.id = dc.id
        where donate_cert_id = #{postId}
    </select>


    <insert id="insertMemberInquiryFile">
        insert into tbl_member_inquiry_file (id, member_inquiry_id)
        values (#{id}, #{memberInquiryId})
    </insert>

    <insert id="insertMemberProfile">
        insert into tbl_member_profile (id, member_id)
            values (#{id}, #{memberId})
    </insert>

    <insert id="insertNoticeFile">
        insert into tbl_notice_file (id, notice_id)
            values (#{id}, #{noticeId})
    </insert>

    <insert id="insertReceiverFile">
        insert into tbl_receiver_file(id, receiver_id)
            values (#{id}, #{receiverId})
    </insert>

    <select id="selectReceiverFileByPostId" resultType="fileVO">
        select f.id, file_name, file_path, file_text, receiver_id
        from tbl_file f
                 join tbl_receiver_file dc
                      on f.id = dc.id
        where receiver_id = #{postId}
        limit 1
    </select>

    <select id="selectReceiverFilesByPostId" resultType="fileVO">
        select f.id, file_name, file_path, file_text, receiver_id
        from tbl_file f
                 join tbl_receiver_file dc
                      on f.id = dc.id
        where receiver_id = #{postId}
    </select>

    <insert id="insertSponsorInquiryFile">
        insert into tbl_sponsor_inquiry_file (id, sponsor_inquiry_id)
            values (#{id}, #{sponsorInquiryId})
    </insert>

</mapper>