<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.FileMapper">
    <!--  독후감 첨부파일 넣기, 수정(삭제)  -->
    <insert id="insertFiles" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_file (file_name, file_path, file_text)
        values (#{fileName}, #{filePath}, #{fileText})
    </insert>

    <insert id="insertBookPostFiles">
        insert into tbl_book_post_file (id, book_post_id)
        values (#{id}, #{bookPostId})
    </insert>

    <delete id="deleteFiles">
        delete from tbl_file
        where id = #{id}
    </delete>

    <delete id="deleteBookPostFiles">
        delete from tbl_book_post_file
        where id = #{id}
    </delete>

</mapper>