<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.HistoryMapper">
    <!--  오늘 조회한 책의 데이터가 있는지 조회  -->
    <select id="countTodayHistory" resultType="_int">
        SELECT COUNT(*)
        FROM tbl_member_history
        WHERE member_id = #{memberId}
          AND book_isbn = #{bookIsbn}
          AND DATE(updatedDate) = CURDATE()
    </select>

    <!--  상세페이지를 간 도서의 정보, 줄거리 저장  -->
    <insert id="insertHistory">
        INSERT INTO tbl_member_history (member_id, book_isbn, book_summary, updatedDate)
        VALUES (#{memberId}, #{bookIsbn}, #{bookSummary}, current_timestamp)
    </insert>
</mapper>