<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.InquiryMapper">
    <select id="selectAllMemberInquiry" resultType="memberInquiryVO">
        select *
        from tbl_member_inquiry
    </select>

    <select id="countAllMemberInquiry" resultType="_int">
        select count(*)
        from tbl_member_inquiry
    </select>
</mapper>