<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.MemberMapper">
    <!-- 관리자 페이지 조회-->
    <select id="selectAllPersonal" resultType="personalMemberVO">
        select pm.id, member_email, member_name, member_phone, member_mileage, member_status,
        date(createdDate) as createdDate, date(updatedDate) as updatedDate
        from tbl_personal_member pm
        join tbl_member m
        on pm.id = m.id and m.member_type = 'PERSONAL'
        <where>
            <if test="keyword != null and keyword != ''">
                member_name like concat('%', #{keyword}, '%')
            </if>
        </where>
        limit #{rowCount}
            offset #{offset}
    </select>

    <!--페이지네이션용 카운트-->
    <select id="countAllPersonal" resultType="_int">
        select count(*)
        from tbl_personal_member pm
                 join tbl_member m
                      on pm.id = m.id
        <where>
            <if test="keyword != null and keyword != ''">
                member_name like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>


    <!--일반 회원가입-->
    <insert id="insertCommonMember" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_member (member_type)
        values(#{memberType})
    </insert>


    <!--일반 회원가입-->
    <insert id="insertPersonalMember">
        insert into tbl_personal_member (id, member_email, member_password, member_name, member_birth, member_gender, member_phone, member_nickname)
        values (#{id}, #{memberEmail}, #{memberPassword}, #{memberName}, #{memberBirth}, #{memberGender}, #{memberPhone}, #{memberNickName})
    </insert>


    <!--이메일 중복검사-->
    <select id="selectByEmail" resultType="personalMemberVO">
        select id, member_email, member_password, member_name, member_mileage, member_status, member_birth, member_gender, member_phone, member_nickname
        from tbl_personal_member
        where member_email = #{memberEmail}
    </select>


    <!--로그인-->
    <select id="loginPersonal" resultType="personalMemberVO">
        select id, member_email, member_password, member_name, member_mileage, member_status, member_birth, member_gender, member_phone, member_nickname
        from tbl_personal_member
        where member_email = #{memberEmail} and member_password = #{memberPassword}
    </select>

    <!--  기업회원 통합검색 조회  -->
    <select id="selectSponsorMembersWithProfile" resultType="sponsorMemberProfileDTO">
        select
            sm.id,
            sm.sponsor_name,
            f.file_name,
            f.file_path,
            m.createdDate as created_date,
            sm.sponsor_main_address,
            sm.sponsor_sub_address,
            sm.sponsor_phone_number
        from tbl_sponsor_member sm
                 join tbl_member m on sm.id = m.id
                 join tbl_member_profile mp on mp.member_id = m.id
                 join tbl_file f on f.id = mp.id
        where sm.sponsor_name like concat('%', #{keyword}, '%')
          and m.member_type = 'SPONSOR'
        limit 3
    </select>

    <!--  기업회원 검색 결과 개수 조회  -->
    <select id="selectSponsorMembersTotal" resultType="_int">
        select
            count(*)
        from tbl_sponsor_member sm
                 join tbl_member m on sm.id = m.id
                 join tbl_member_profile mp on mp.member_id = m.id
                 join tbl_file f on f.id = mp.id
        where sm.sponsor_name like concat('%', #{keyword}, '%')
          and m.member_type = 'SPONSOR'
    </select>

    <!--  기업회원 전체페이지 조회(무한스크롤)  -->
    <select id="selectAllSponsorMembers" resultType="sponsorMemberProfileDTO">
        select
            sm.id,
            sm.sponsor_name,
            f.file_name,
            f.file_path,
            m.createdDate as created_date,
            sm.sponsor_main_address,
            sm.sponsor_sub_address,
            sm.sponsor_phone_number
        from tbl_sponsor_member sm
                 join tbl_member m on sm.id = m.id
                 join tbl_member_profile mp on mp.member_id = m.id
                 join tbl_file f on f.id = mp.id
        where sm.sponsor_name like concat('%', #{keyword}, '%')
        and m.member_type = 'SPONSOR'
        <choose>
            <when test="sortType == 'name'">
                order by sm.sponsor_name collate utf8mb4_unicode_ci asc
            </when>
            <otherwise>
                order by m.createdDate desc
            </otherwise>
        </choose>
        limit 8 offset #{offset}
    </select>

    <!--비밀번호 찾기-->
    <select id="searchPassword" resultType="personalMemberVO">
        select id, member_email, member_password, member_name, member_mileage, member_status, member_birth, member_gender, member_phone, member_nickname
        from tbl_personal_member
        where member_email = #{memberEmail} and member_name = #{memberName} and member_birth = #{memberBirth} and member_gender = #{memberGender};
    </select>

    <!-- 시퀀스로 회원 찾기 -->
    <select id="selectById" resultType="memberVO">
        select *
        from tbl_member
            where id = #{id}
    </select>

    <select id="selectPersonalMemberById" resultType="personalMemberVO">
        select member_name
        from tbl_personal_member
        where id = #{id}
    </select>

    <select id="selectSponsorMemberById" resultType="sponsorMemberVO">
        select sponsor_name
        from tbl_sponsor_member
        where id = #{id}
    </select>

    <update id="updatePersonalMemberStatus">
        update tbl_personal_member
        set member_status = 'SUSPENDED'
        where id = #{memberId}
    </update>

    <update id="updateSponsorMemberStatus">
        update tbl_sponsor_member
        set sponsor_member_status = 'SUSPENDED'
        where id = #{sponsorId}
    </update>

    <!--비밀번호 변경-->
    <update id="updatePassword">
        update tbl_personal_member
        set member_password = #{newPasswd}
        where member_email = #{memberEmail}
    </update>


</mapper>



