<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.NoticeMapper">
    <!-- 공지 목록 조회 -->
    <select id="selectAllNotice" resultType="noticeVO">
        select id, notice_title, notice_text, date(createdDate) as createdDate , date(updatedDate) as updatedDate
        from tbl_notice
        <where>
            <if test="keyword != null and keyword != ''">
                (
                notice_title like concat('%', #{keyword}, '%') or
                notice_text like concat('%', #{keyword}, '%')
                )
            </if>
        </where>
        order by id desc
        limit #{rowCount}
        offset #{offset}

    </select>

    <!-- 관리자 페이지 페이징 처리용 -->
    <select id="countAllNotice" resultType="_int">
        select count(*)
        from tbl_notice
        <where>
            <if test="keyword != null and keyword != ''">
                (
                notice_title like concat('%', #{keyword}, '%') or
                notice_text like concat('%', #{keyword}, '%')
                )
            </if>
        </where>
    </select>

    <select id="selectNoticeById" resultType="noticeVO">
        select id, notice_title, notice_text, date(createdDate) as createdDate , date(updatedDate) as updatedDate
        from tbl_notice
        where id = #{id}
    </select>

    <!-- 공지 수정   -->
    <update id="updateNotice">
        update tbl_notice
        set notice_title = #{noticeTitle}, notice_text = #{noticeText}
        where id = #{id}
    </update>

    <insert id="insertNotice">
        insert into tbl_notice (notice_title, notice_text)
        values (#{noticeTitle}, #{noticeText})
    </insert>
    <insert id="insertNotice" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_notice (notice_title, notice_text)
        values (#{noticeTitle}, #{noticeText})
    </insert>

    <!-- 공지 목록 조회(클라이언트용)-->
    <select id="selectAllNoticeClient" resultType="noticeVO">
        select id, notice_title, notice_text, date(createdDate) as createdDate , date(updatedDate) as updatedDate
        from tbl_notice
        order by id desc
    </select>

    <select id="selectAllEvents">
        select *
        from tbl_event
        order by id desc
    </select>

    <select id="selectEventById" resultType="eventVO">
        select id, year, month, event_type
        from tbl_event
        where id = #{id}
    </select>

    <insert id="insertEvent">
        insert into tbl_event(year, month, event_type, event_text)
        values (#{year}, #{month}, #{eventType}, #{eventText})
    </insert>

</mapper>