<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bookJeog.mapper.PostMapper">
    <select id="selectAllBookPost" resultType="bookPostVO">
        select bp.id, bp.book_post_title, bp.book_post_text, bp.book_post_is_public, bp.book_post_start_date, bp.book_post_end_date,
               nbp.book_isbn, sbp.book_id, sbp.book_post_status, p.createdDate, p.updatedDate
        from tbl_book_post bp
            join tbl_post p on bp.id = p.id
                 left join tbl_normal_book_post nbp
                           on bp.id = nbp.id
                 left join tbl_selected_book_post sbp
                           on bp.id = sbp.id
    </select>

    <!-- 토론 게시글 조회(관리자)-->
    <select id="selectAllDiscussionPost" resultType="discussionVO">
        select d.id, discussion_title, discussion_text, book_isbn, p.member_id, p.createdDate, p.updatedDate
        from tbl_discussion d
            join tbl_post p
                on d.id = p.id
    </select>

    <select id="countAllDiscussionPost" resultType="_int">
        select count(*)
        from tbl_discussion d
                 join tbl_post p
                      on d.id = p.id
    </select>
    <!--  이 책으로 작성한 독후감 일부 조회  -->
    <select id="selectThisBookPosts" resultType="bookPostMemberDTO">
        select
            bp.id,
            bp.book_post_title,
            bp.book_post_text,
            pm.member_nickname,
            pm.id as member_id,
            f.file_name, f.file_path
        from tbl_book_post bp
                 join tbl_post p on p.id = bp.id
                 join tbl_personal_member pm on pm.id = p.member_id
                 join tbl_member_profile mp on mp.member_id = pm.id
                 join tbl_file f on f.id = mp.id
        where bp.book_post_is_public = 'PUBLIC'
          and bp.book_isbn = #{bookIsbn}
        order by p.createdDate desc
        limit 5
    </select>

    <!--  이 책으로 작성한 독후감 전체 조회(무한스크롤 6개씩)  -->
    <select id="selectThisAllBookPosts" resultType="bookPostMemberDTO">
        select
            bp.id,
            bp.book_post_title,
            bp.book_post_text,
            pm.member_nickname,
            pm.id as member_id,
            f.file_name, f.file_path
        from tbl_book_post bp
                 join tbl_post p on p.id = bp.id
                 join tbl_personal_member pm on pm.id = p.member_id
                 join tbl_member_profile mp on mp.member_id = pm.id
                 join tbl_file f on f.id = mp.id
        where bp.book_post_is_public = 'PUBLIC'
          and bp.book_isbn = #{bookIsbn}
        order by p.createdDate desc
        limit 6 offset #{offset}
    </select>

    <!--  이 책으로 작성한 독후감 전체 개수 조회  -->
    <select id="selectBookAllPostsCount" resultType="_int">
        select
            count(*)
        from tbl_book_post bp
                 join tbl_post p on p.id = bp.id
                 join tbl_personal_member pm on pm.id = p.member_id
                 join tbl_member_profile mp on mp.member_id = pm.id
                 join tbl_file f on f.id = mp.id
        where bp.book_post_is_public = 'PUBLIC'
          and bp.book_isbn = #{bookIsbn}

    </select>
    <!--  검색한 검색어에 맞는 독후감 통합검색 조회  -->
    <select id="searchBookPosts" resultType="bookPostMemberDTO">
        SELECT
            p.member_id,
            bp.book_post_title,
            bp.book_post_text,
            pm.member_nickname,
            f.file_path,
            f.file_name,
            DATE_FORMAT(p.createdDate, '%Y.%m.%d') AS createdDate,
            bp.book_isbn
        from tbl_book_post bp
                 join tbl_post p on p.id = bp.id
                 join tbl_personal_member pm on pm.id = p.member_id
                 join tbl_member_profile mp on mp.member_id = pm.id
                 join tbl_file f on f.id = mp.id
        WHERE bp.book_post_is_public = 'PUBLIC'
          AND (
            bp.book_post_title LIKE concat('%', #{keyword}, '%')
                OR bp.book_post_text LIKE concat('%', #{keyword}, '%')
                or bp.book_title like concat('%', #{keyword}, '%')
                OR pm.member_nickname LIKE concat('%', #{keyword}, '%')
            )
        ORDER BY p.createdDate DESC
        LIMIT 3
    </select>
    <!--  검색한 검색어에 맞는 독후감 통합검색 개수 조회  -->
    <select id="selectBookPostsCount" resultType="_int">
        SELECT
            count(*)
        from tbl_book_post bp
                 join tbl_post p on p.id = bp.id
                 join tbl_personal_member pm on pm.id = p.member_id
                 join tbl_member_profile mp on mp.member_id = pm.id
                 join tbl_file f on f.id = mp.id
        WHERE bp.book_post_is_public = 'PUBLIC'
          AND (
            bp.book_post_title LIKE concat('%', #{keyword}, '%')
                OR bp.book_post_text LIKE concat('%', #{keyword}, '%')
                or bp.book_title like concat('%', #{keyword}, '%')
                OR pm.member_nickname LIKE concat('%', #{keyword}, '%')
            )
        ORDER BY p.createdDate DESC
    </select>
    <!--  검색한 검색어에 맞는 독후감 무한스크롤로 출력  -->
    <select id="selectAllBooks" resultType="bookPostMemberDTO">
        select
        bp.id,
        bp.book_post_title,
        bp.book_post_text,
        bp.book_isbn,
        p.createdDate as createdDate,
        pm.member_nickname,
        pm.id as member_id,
        count(bpl.id) as like_count,
        f.file_name,
        f.file_path
        from tbl_book_post bp
        join tbl_post p on p.id = bp.id
        left join tbl_book_post_like bpl on bpl.book_post_id = bp.id
        join tbl_personal_member pm on pm.id = p.member_id
        join tbl_member_profile mp on mp.member_id = pm.id
        join tbl_file f on f.id = mp.id
        where bp.book_post_is_public = 'PUBLIC'
        and (
        bp.book_post_title like concat('%', #{keyword}, '%')
        or bp.book_post_text like concat('%', #{keyword}, '%')
        or bp.book_title like concat('%', #{keyword}, '%')
        or pm.member_nickname like concat('%', #{keyword}, '%')
        )
        group by bp.id, bp.book_post_title, bp.book_post_text,
        pm.member_nickname, pm.id,
        f.file_name, f.file_path
        <choose>
            <when test="sortType == 'like'">
                order by like_count desc
            </when>
            <when test="sortType == 'name'">
                order by bp.book_post_title collate utf8mb4_unicode_ci asc
            </when>
            <otherwise>
                order by p.createddate desc
            </otherwise>
        </choose>
        limit 8 offset #{offset}
    </select>
    <!--  검색한 검색어에 맞는 독후감 전체 개수  -->
    <select id="selectAllBooksCount" resultType="_int">
        select
            count(*)
        from tbl_book_post bp
                 join tbl_post p on p.id = bp.id
                 join tbl_personal_member pm on pm.id = p.member_id
                 join tbl_member_profile mp on mp.member_id = pm.id
                 join tbl_file f on f.id = mp.id
        where bp.book_post_is_public = 'PUBLIC'
          and (
                bp.book_post_title like concat('%', #{keyword}, '%')
                or bp.book_post_text like concat('%', #{keyword}, '%')
                    or bp.book_title like concat('%', #{keyword}, '%')
                or pm.member_nickname like concat('%', #{keyword}, '%')
            )
    </select>
</mapper>