* {
    letter-spacing: -.6px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    letter-spacing: inherit;
    color: var(--text-01);
    text-decoration: none;
    outline: none;
    font-family: inherit;
    font-weight: 400;
    font-size: inherit;
    cursor: pointer;
}

i {
    font-style: normal;
}

b, em, strong {
    font-weight: 700;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button{
    font-family: inherit;
    color: var(--text-01);
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 400;
    appearance: none;
}

button, input {
    background-color: transparent;
    border: 0;
}

#wrap{
    height: 100%;
}

[class*=" mds-"], [class^=mds-] {
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    border: 0;
    letter-spacing: -.6px;
}

[class*=" mds-icon"]:before, [class^=mds-icon]:before {
    font-family: icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[type=button], [type=reset], [type=submit], button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    -webkit-appearance: button;
    outline: 0;
}

.main{
    width: 100%;
    max-width: var(--library-sub-width);
    margin: 0px auto;
}

.header{
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 10;
}

main{
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    margin: 0px auto;
}

.back-wrapper{
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    background: var(--ui-background);
    z-index: 50;
    border-bottom: 1px solid var(--ui-05);
}

.back-inner{
    position: relative;
    max-width: var(--back-width);
    width: 100%;
    height: 48px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.back-inner>h2{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 0px;
}

.content-wrapper{
    padding: 0px 20px;
}

.list-container{
    display: fle;
    flex-direction: column;
    padding-bottom: 32px; 
}

.tool-bar-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    padding: 20px 0px 8px;
}

.post-list{
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    gap: 32px;
}

.total-count{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-01);
}

.sort-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-01);
    gap: 4px;
}

.list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-meta{
    display: flex;
    flex-direction: column;
    gap: 8px
}

.content-card-wrapper{
    display: flex;
}

.button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.profile-card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px
}

.option-data{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-02);
}

.profile-card-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.more-button{
    flex-shrink: 0;
}

.profile-image-wrapper{
    position: relative;
    display: inline-block;
    width: 38px;
    font-size: 0px;
}

.profile-nickname-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px
}

.profile-image{
    border-radius: 100px;
    object-fit: cover;
}

.nickname{
    display: flex;
    align-items: center;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-02);
}

.ir{
    position: absolute;
    left: -10000em;
    top: 0px;
    line-height: 0;
}

.option-data span::before{
    margin: auto 4px;
    font-weight: 700;
    content: "·";
}

.content-card-link{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 12px;
}

.content-image{
    object-fit: cover;
    width: 100%;
    max-height: 203px;
    max-width: 400px;
    border: 0.5px solid var(--GTrans-01);
    border-radius: 12px;
}

.summary-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-title{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-01);
    word-break: break-word;
}

.content-summary{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-02);
    display: -webkit-box;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.like-wrapper{
    display: flex;
    padding: 6px 12px;
    align-items: center;
    border-radius: 100px;
    background: var(--ui-02);
    cursor: pointer;
    gap: 4px
}

.like-label{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.like-count{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

/* 잠깐 뜨는 창(토스트) */
#wrap .toast{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1001;
    width: 280px;
    min-height: 52px;
    padding: 16px;
    background: rgba(54, 54, 54, .9);
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    pointer-events: none;
    word-break: keep-all;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#wrap .toast p{
    word-break: break-all;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -60%); }
    10% { opacity: 1; transform: translate(-50%, -50%); }
    90% { opacity: 1; transform: translate(-50%, -50%); }
    100% { opacity: 0; transform: translate(-50%, -40%); }
}

.toast {
    animation: fadeInOut 2.5s ease-in-out;
}
/* // 잠깐 뜨는 창(토스트) */

/* 모달창 */
.modal-overlay, .modal-overlay2{
    position: fixed;
    inset: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrapper{
    overflow: hidden;
    background-color: var(--ui-up-03);
    border-radius: 8px;
    max-width: 430px;
    width: 100%;
    margin: 0px 24px;
    animation-name: lbWRkT;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-direction: normal;
}

.modal-wrapper.delete-confirm{
    overflow: hidden;
    background-color: var(--ui-up-03);
    border-radius: 8px;
    max-width: 328px;
    width: 100%;
    margin: 0px 24px;
    animation-name: lbWRkT;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-direction: normal;
}

.modal-inner{
    padding: 32px 24px;
    overflow: hidden;
    background-color: var(--ui-up-03);
    border-radius: 8px;
    width: 100%;
}

.delete-confirm .modal-inner{
    padding: 24px;
    overflow: hidden;
    background-color: var(--ui-up-03);
    border-radius: 8px;
    width: 100%;
}

.modal-footer{
    display: flex;
}

.modal-header{
    margin-bottom: 24px;
    text-align: center;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-01);
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    text-align: center;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-03);
    white-space: pre-line;
}

.grid-component{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.radio-label{
    height: 48px;
    border-radius: 8px;
    transition: border 0.2s linear;
    border: 1px solid var(--ui-06);
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.radio-input{
    display: none;
}

.radio-text{
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-04); 
}

.radio-label.active{
    height: 48px;
    border-radius: 8px;
    transition: border 0.2s linear;
    border: 3px solid var(--primary);
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.radio-label.active .radio-text{
    color: var(--text-01);
}

.modal-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cancel);
    color: var(--text-01);
    height: 56px;
    padding: 0px 24px;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px;
    transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
    flex-basis: 40%;
}

.modal-cancel span{
    display: fle;
    align-items: center;
    justify-content: center;
    letter-spacing: inherit;
}

.modal-confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary);
    color: rgb(36, 36, 36);
    height: 56px;
    padding: 0px 24px;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px;
    transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
    flex-basis: 60%;
}

.modal-confirm span{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: inherit;
}

.menu-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.menu-wrapper>li{
    height: 48px;
}

.delete-button{
    display: flex;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--danger);
    cursor: pointer;
    gap: 8px;
}

svg {
    display: block;
    pointer-events: none;
}

.delete-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary);
    color: rgb(36, 36, 36);
    height: 56px;
    padding: 0px 24px;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px;
    transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
}

.delete-cancel span{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: inherit;
}

.modal-body>p{
    word-break: keep-all;
}

.modal-body .mb-16{
    margin-bottom: 16px;
}

.real-delete-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cancel);
    color: var(--text-01);
    height: 56px;
    padding: 0px 24px;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px;
    transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
    flex-basis: 100%;
}

.real-delete-cancel span,
.real-delete-confirm span{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: inherit;
}

.real-delete-confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--danger);
    color: rgb(255, 255, 255);
    height: 56px;
    padding: 0px 24px;
    font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px;
    transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
    flex-basis: 100%;
}
/* // 모달창 */