* {
    letter-spacing: -.6px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
    border-style: none;
    pointer-events: none;
}

i {
    font-style: normal;
}

b, em, strong {
    font-weight: 700;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button{
    background: transparent;
}

button, input {
    background-color: transparent;
    border: 0;
}

#wrap{
    height: 100%;
}

[class*=" mds-"], [class^=mds-] {
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    border: 0;
    letter-spacing: -.6px;
}

[class*=" mds-icon"]:before, [class^=mds-icon]:before {
    font-family: icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[type=button], [type=reset], [type=submit], button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    -webkit-appearance: button;
    outline: 0;
}

@media(max-width: 999px){
    .top-header{
        display: none;
    }
}

.bookjeog-inner {
    max-width: var(--depth-width);
    margin: 0 auto;
    padding: 0 24px;
}

.back-component{
    height: 0;
    background: var(--ui-background);
}

.back-component.border-hidden{
    border: none !important;
}

.bookjeog-inner .password-box.web-padding-top{
    padding-top: 44px;
}

.back-component .back-wrap{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    height: 48px;
    padding-top: env(safe-area-inset-top);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background: var(--ui-background);
}

.back-component .back-wrap.line{
    border-bottom: 1px solid var(--ui-06);
}

@media (min-width: 1000px) {
    #wrap.show-top-header .back-component .back-wrap, #wrap.show-top-header .bookjeog-sub-inner .back-component {
        top: 65px;
    }
}

.back-component .back-wrap>div{
    max-width: var(--header-width);
    margin: 0 auto;
}

.back-component .back{
    position: relative;
    max-width: var(--header-width);
    margin: 0 auto;
    height: 48px;
}

@media (min-width: 1000px) {
    .web-mount .back-component .close-button{
        display: none;
    }
}

.back-component .back h2{
    overflow: hidden;
    padding: 0 45px;
    font-size: 18px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 48px;
    color: var(--text-01);
}

.bookjeog-inner .password-box .txt-blk{
    background-color: var(--ui-01);
    padding: 24px 0;
    text-align: center;
    margin: 0 -24px;
}

.bookjeog-inner .password-box .ipt-blk{
    position: relative;
    max-width: var(--management-width);
    margin: 40px auto 0;
}

.bookjeog-inner .password-box .txt-blk h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-01);
}

.bookjeog-inner .password-box .txt-blk img{
    width: 56px;
    margin-top: 24px;
}

.bookjeog-inner .password-box .txt-blk p{
    margin-top: 16px;
    font-size: 14px;
    color: var(--text-04);
}

.mds-input {
    overflow: hidden;
}

.mds-input .input {
    -ms-flex: 1;
    flex: 1;
}

.mds-button {
    overflow: hidden;
    width: 100%;
    transition: background-color .2s linear, border-color .2s linear, color .2s linear;
}

.mds-button.mds-button-primary {
    background-color: var(--primary);
    color: #242424;
}

.bookjeog-inner .password-box .ipt-blk .btn-submit{
    height: 48px;
    font-size: 16px;
    padding: 0 16px;
    border-radius: 4px;
    margin-top: 16px;
}

.mds-button>* {
    position: relative;
    z-index: 1;
}

.mds-button span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mds-input>label {
    display: block;
    height: 56px;
    padding: 8px 12px;
    border: 1px solid;
}

.mds-input:not(.mds-input-editor) label {
    border-color: var(--ui-06);
    border-radius: 4px;
}

.mds-input .inner {
    height: 100%;
    gap: 8px;
}

.mds-input .inner, .mds-input .mds-icon-searchbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.mds-input .clear-button {
    overflow: hidden;
    width: 20px;
    height: 20px;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mds-input.flex:focus-within .clear-button, .mds-input.flex:hover .clear-button {
    display: -ms-flexbox;
    display: flex;
}

.mds-input .label {
    display: block;
    margin-bottom: 1px;
    font-size: 10px;
    color: var(--text-04);
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    line-height: 100%;
    vertical-align: baseline;
}

.mds-input input {
    width: 100%;
    height: 24px;
    font-size: 16px;
    text-align: left;
    color: var(--text-01);
}

.mds-input .label sup {
    font-size: 10px;
    color: var(--audio);
}

input:focus {
    outline: none;
}

.mds-input .clear-button:before {
    font-size: 17px;
    color: var(--ui-06);
    line-height: 16px;
    content: "\e84e";
}

/* 잠깐 뜨는 창(토스트) */
#wrap .toast{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1001;
    width: 280px;
    min-height: 52px;
    padding: 16px;
    background: rgba(54, 54, 54, .9);
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    pointer-events: none;
    word-break: keep-all;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#wrap .toast p{
    word-break: break-all;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -60%); }
    10% { opacity: 1; transform: translate(-50%, -50%); }
    90% { opacity: 1; transform: translate(-50%, -50%); }
    100% { opacity: 0; transform: translate(-50%, -40%); }
}

.toast {
    animation: fadeInOut 2.5s ease-in-out;
}
/* // 잠깐 뜨는 창(토스트) */